[2019-04-02 20:04] jwmann opened #2 "Fields don't support Formik field validation"
If we use `<InputField />` as an example, the only Formik prop that you can pass to it is the `name` property. However as per the validation example https://jaredpalmer.com/formik/docs/guides/validation#field-level-validation

We need to pass a `validate` prop to the Field.

[2019-04-02 21:11] jwmann opened #3 "FormItem errors aren't working for FieldArray's"
Using this example from Formik
https://jaredpalmer.com/formik/docs/api/fieldarray

If we pass errors with the same way back as they are structured inside values.

e.g.:
values:
[code]

errors:
[code]

FormItem doesn't catch the error. Mostly like because it's expecting a flat level key name.

[2019-04-02 21:35] jannikbuschke commented on #2
makes sense to me. so basically the InputField props will become the union type of FormikFieldProps (name + validate) and Input/AntdComponent-Props.

just to double check. This is what you would expect right?:
![image](https://user-images.githubusercontent.com/5894881/55437673-bd8ff500-559f-11e9-8864-b58e8f69e265.png)

[2019-04-02 21:39] jwmann commented on #3
Just for comparison I can use `<ErrorMessage name={`filters[${index}].name`} />` and it will display the correct error message properly.

[2019-04-02 21:41] jannikbuschke commented on #3
I'm not really sure what you mean. Are you talking about the FormItem component?

[2019-04-02 22:06] jwmann commented on #3
Yes. My mistake, I miswrote that.

When you pass the `name` prop from Formik, for a FieldArray it'll sometimes look like this `filters[3].name` but that key doesn't exist straight out in the `errors` or `touched` object.
You need to traverse down the path using a lodash `get()` function or something similar.

When you use the `<ErrorMesage name={} />` component that comes with Formik, it does this

[2019-04-02 22:10] jwmann commented on #2
Absolutely, this will work perfectly. 😄

[2019-04-02 22:14] jannikbuschke commented on #3
Ok I see.
Currently FormItem and handling FieldArrays in general is totally work in progress. I didn't yet have time to get my head around a proper solution. (only the components in the README are expected to be kind of stable).

I will address validation and lists shortly.

[2019-04-02 22:59] jannikbuschke commented on #2
I just published a new release (0.9) with above changes

[2019-04-03 02:48] jwmann commented on #3
Your implementation it pretty close.

If you use lodash `get()` you could fix this easily and maintain normal functionality.
https://lodash.com/docs/4.17.11#get

[code]

[2019-04-03 02:54] jwmann commented on #3
Apologies for closing and re-opening. I pressed a GitHub keyboard shortcut by accident.

[2019-04-03 15:21] #2 closed

[2019-04-03 19:48] jwmann opened #4 "Publishing / Testing local formik-antd fork from another Local Project"
I was considering adding some PRs but I like to be able to test local changes in my current project prior to submitting the PR.

I know in package.json you can reference another local file / directory as the source of the node module but I tried it and it doesn't seem to build well.
I get errors like

[code]

If I use the normal package installed via npm itself, I don't get these errors.

Maybe I

[2019-04-03 20:38] jannikbuschke commented on #4
Just using npm for local package references (via npm install file:... for example) sucks. The setup will most likely end up with two versions of each library you are using (for example two versions of react and two versions of formik) and then above error can occur.

 You can use [lerna](https://github.com/lerna/lerna) for a sophisticated setup. Im actually writing a blog post about it.

The idea

[2019-04-03 21:20] jwmann commented on #4
That sounds super useful but I feel like it's a bit overkill just for a quick test.
Unless there's something I'm missing.

[2019-04-05 15:19] jwmann commented on #3
This FormItem is being a real blocker for my project, I really need the above to be fixed soon.
I'd make a PR myself but I have no way to test locally.

[2019-04-05 15:21] jwmann opened #5 "FormItem props don't extend to Ant Design's Form.Item"
There are a whole bunch of props that <Form.Item /> uses that I rely on. It would be very useful if the <FormItem /> component would spread the rest props besides `name` and `children` to <Form.Item />

[2019-04-05 20:29] jannikbuschke commented on #3
You can clone this repository https://github.com/jannikbuschke/formik-antd-playground with the --recursive flag and have a good local test experience. Pls follow the README to get started (it should be very simple)

[2019-04-05 22:50] jwmann commented on #3
@jannikbuschke This is awesome! Thank you.
Expect a PR probably on Monday 🙌

[2019-04-06 06:49] jannikbuschke commented on #3
Sounds good!
Can you give me some idea about how you would use the FormItem inside a FieldArray? Like some pseudo code with a FieldArray, FormItem and Input component.
I would expect the FormItem to wrap an Input component, is this correct? (I am not yet sure how to handle FieldArrays properly, and am interested in any input)

[2019-04-06 12:15] jannikbuschke commented on #4
It may sound a bit overkill. Especially finding a practical setup is hard and it took me quite some time.

As seen in https://github.com/jannikbuschke/formik-antd this is a powerful setup and it actually is pretty easy to use.

I just published a blogpost about the setup: https://www.jannikbuschke.de/blog/monorepo-with-lerna-react-and-typescript/

You can combine it with git submodules (https://ww

[2019-04-06 12:15] #4 closed

[2019-04-06 12:26] jannikbuschke commented on #5
I released 0.10, spreading all additional props to Form.Item

[2019-04-06 12:26] #5 closed

[2019-04-06 15:46] jwmann commented on #4
Thanks for this, I'm definitely going to check out the blog post.
Just a heads up I believe you meant to link https://github.com/jannikbuschke/formik-antd-playground

Your original link was just this repo 😛

[2019-04-06 16:04] jwmann commented on #3
Sure thing.

From https://jaredpalmer.com/formik/docs/api/fieldarray
[code]

The FieldArray component just acts as a helper component to render fields based on an index. It provides `arrayHelpers` that allow to `push()` or `remove()` from the field `listOfFriends` which is an array of fields or array of groups of fields.

 So the FieldArray component itself you don't have to worry about, the only

[2019-04-06 16:27] jannikbuschke commented on #4
correct :)

[2019-04-06 17:54] jannikbuschke commented on #3
Ok sounds good to me. Also adding lodash as a dependency (I guess if importing correct, mainly only the get function will be bundled) is fine for me.

[2019-04-08 21:33] jwmann opened #6 "package.json version doesn't match published npm version"
package.json shows `0.9.0`

npm shows `0.10.0`

[2019-04-08 21:35] jwmann commented on #3
For some reason, using `formik-antd-playground`. `name` always appears as `""` which is really strange. Do you know why that could be?

Also sidenote, the default version of `formik-antd` that `formik-antd-playground` installs is `0.8.2`. I had to manually pull in the latest version.

[2019-04-08 22:52] jwmann opened #8 "Warning: Invalid value for prop `validate` on <input> tag."
Seem as though you aren't removing validate from the props that you're extending to `<Input />`.

A simple spread destructure on props should fix this.
It also seems that this applies to the rest of the components as well.

I can make a PR for this tomorrow.
It will follow the same prop destructuring method I used in #7

[2019-04-09 22:53] #3 closed

[2019-04-10 06:09] n3v3rf411 opened #12 "commonjs modules"
I would like to use this project next.js but fails at importing components when rendering from server-side. Would there be no problems to change the module target from esnext to commonjs?

[2019-04-10 06:54] jannikbuschke commented on #12
I don't see any problems but also don't have any experience with commonjs / module targets.
So in tsconfig.json changing compilerOptions.module to "commonjs" is what you propose?

[2019-04-10 08:50] n3v3rf411 commented on #12
Pardon me I also don't have thorough experience with commonjs/es6 modules.

Something like this I guess. I tested with 7200de3553a8c02da3176892562c25f44fe600c0 and seems to be working well in next.js without resolving to using transpiler plugins like those mentioned here https://github.com/zeit/next.js/issues/706#issuecomment-451935142
[code]

[2019-04-10 15:37] #8 closed

[2019-04-10 15:39] jwmann commented on #6
This looks to be fix 👍

[2019-04-10 15:39] #6 closed

[2019-04-11 07:27] jannikbuschke opened #14 "Change names to match Antd component names"
In order to make migrations easier and to make the component names simpler, the *Field* suffix should be dropped.
It's likely that in a specific files (maybe even in a codebase) only exclusively  formik-antd or antd components will be used, so the readability/comprehensibility should be granted.

[2019-04-11 11:18] n3v3rf411 opened #15 "SubmitButton inside form tag with onSubmit handler causes submit handler to be called twice"
If I set the `htmlType` to `button`, it won't submit twice but form submit using enter key doesn't work anymore.

Sample code:
[code]

[2019-04-11 13:38] jannikbuschke commented on #15
May I ask why are you using the `<form>` component? Is it for triggering submit on enter key or also some accessibility thing?
Up until today I tried to avoid using `<form>` inside `<Formik>`, as accidentally other buttons might trigger form submittion (I think if htmlType or type is not set).

[2019-04-11 14:33] n3v3rf411 commented on #15
Yes it is for triggering submit on enter key. Also, the examples in formik uses the form tag. If you have an input type `password` not wrapped in a form, chrome logs the following warning in the console:

`[DOM]  Password field is not contained in a form: (More info: https://goo.gl/9p2vKq)`

[2019-04-12 17:55] jwmann commented on #15
Try removing `htmlType="submit"` from `<SubmitButton />`

[2019-04-12 17:58] jwmann commented on #14
I agree with this; once all PR's have been merged. :)

[2019-04-12 18:02] jwmann opened #16 "dependency not found lodash.get"
Just installed the newer version of this package in my app.

Seems as though putting `lodash.get` inside the `devDependencies` is not enough.
Should probably be in `dependencies`.

[code]

[2019-04-12 19:01] #16 closed

[2019-04-12 20:35] jwmann commented on #14
I think after we do this, we should bump up to a major version. `1.0.0`
This makes sense if we're following https://semver.org/ which seems to be a standard convention in most projects.

[2019-04-13 00:00] jannikbuschke commented on #15
@n3v3rf411  I am not yet sure what the best approach here is. As a workaround (or solution?) you can set htmlType and onClick props of the SubmitButton like so:
[code]

[2019-04-13 00:07] jannikbuschke commented on #14
Y, I like the api and guess it will be stable for some time. So `1.0.0` is close.
The renaming is done, I also made some depending components properties of their related ones (InputPassword => Input.Password, InputTextArea => Input.TextArea, RadioGroup => Radio.Group ....)

[2019-04-13 00:07] #14 closed

[2019-04-13 00:44] jannikbuschke commented on #12
I just published version 0.12 which used above compiler options. Can you give me feedback?

[2019-04-13 03:02] jwmann commented on #14
I only suggest `1.0.0` because technically this naming change will break any project that's currently using this package. ( aka not backwards compatible update )

Of course it's just a simple name change for them to fix but if they just update from `0.8.2` to `0.12.0` without thinking much, because doesn't seem too big a of jump. I wouldn't expect my project to break.

Whereas `0.8.2` to `1.0.0` y

[2019-04-13 04:36] jannikbuschke commented on #14
But this is also semver: all 0.* versions are pre 1 and can have breaking changes. The initial/alpha phase cannot practically have a stable api and be backwards compatible...
During 1.* only additions and patches are allowed.

[2019-04-13 19:38] jwmann commented on #14
@jannikbuschke Fair point. I'm fine with whatever then.

[2019-04-15 10:43] n3v3rf411 commented on #12
Just tested now but still the same. I think it works in my setup because I copied the code into my repository causing next.js to transpile them 🤦.

After digging in the transpiled code, I found out that it is https://github.com/jannikbuschke/formik-antd/blob/master/src/index.ts causing the problem:
[code]

I checked other libraries and it looks like they are either setting tsc target to ES3 (or re

[2019-04-15 11:01] n3v3rf411 commented on #15
Indeed it's because of the `onClick` handler in SubmitButton. This will suffice for now!

For me, the default handlers in onClick should be removed and have the user manually set onClick if they do not enclose the input elements in a form tag. I'm not sure if it's a common practice but checking ant-design-pro pages source codes, ant design form documentation, and formik documentation, they all do.

[2019-04-15 11:01] #15 closed

[2019-04-23 01:57] jwmann opened #21 "FormItem isTouched requirement unnecessary and hides actual valid errors"
I'm current working on a form that uses both inline and form-wide validation.
I'm trying to cover all cases of someone using the form and trying to pass validation.

One scenario being, someone who doesn't fill out the form of required fields, and just presses submit and/or triggers the validateForm() function.

Using the current state of the FormItem component, even though Formik is legitimately

[2019-04-23 08:13] jannikbuschke commented on #21
I tried reproducing with the `SubmitButton` component: https://codesandbox.io/s/mjkkxqlm9y
The form correctly shows validation errors, even if they previously had not been touched. The validation errors are shown, as using the `SubmitButton` yields all fields being marked as `touched`.

The SubmitButton calls formik.setSubmitting(). I guess then formik marks everything as touched

[2019-04-23 08:15] jannikbuschke commented on #21
Removing the `isTouched` condition would also lead to a problem when the whole form is validated at once. I.e. I usually use remote validation that validates all fields and gives one validation object back. The fields that had not been touched yet should not show errors messages (bad UX).

[2019-04-23 15:03] jwmann commented on #21
That's strange, I didn't know Submit would mark all fields as touched.
The problem is, I don't technically want to submit just yet.
There's another section to my form before that happens.

However, I suppose I can work around this.

Thank you for the discussion. I will close this for now.

[2019-04-24 22:00] jannikbuschke commented on #12
@n3v3rf411 I just published version 0.13 without a target being set in tsconfig.
Can you test if it works now and give me feedback?

[2019-04-25 02:44] n3v3rf411 commented on #12
Just confirmed that 0.13.0 works with https://github.com/zeit/next.js/tree/canary/examples/with-ant-design. Thanks!

[2019-04-25 02:44] #12 closed

[2019-04-30 21:13] MatthieuCoelho opened #24 "Style of Antd not working when using babel-plugin-import"
Hi,
Your library is really useful however we can't use it with [babel-plugin-import](https://ant.design/docs/react/use-in-typescript) because style of antd aren't imported.

[2019-04-30 22:03] jannikbuschke commented on #24
Do you have ideas on how to make it work?

[2019-05-01 13:09] MatthieuCoelho commented on #24
Unfortunately no, I guess I have to include the source in my project ...

[2019-05-01 13:36] jannikbuschke commented on #24
@CarlosGines do you have an idea how I could make use of babel imports https://ant.design/docs/react/use-in-typescript#Use-babel-plugin-import?

I guess the desired outcome is that one just import components and nowhere need to explicitly state what css is needed, the plugin would just include all css that is actually used, which would be pretty neat.

[2019-05-02 09:54] jannikbuschke opened #25 "Html Label (in testing contexts) and a11y behavior not optimal"
Sure, here's a forked example of your CodeSandbox: https://codesandbox.io/s/y257p4l8z9

**Edit:** as a counter-example, look at `antd`'s own CodeSandbox to see how the DOM differs: https://codesandbox.io/s/kw79qx5w15

The `label` element for `[name=userName]` does not have a `for="userName"`, which breaks things like `react-testing-library`'s `getByLabelText` and forces me to fallback to less opti

[2019-05-03 14:39] jwmann opened #26 "FastField Support"
I'm really happy how this project has evolved, I feel like it's at a really good spot right now. 👍

https://jaredpalmer.com/formik/docs/api/fastfield
This is just a feature request for the future of this package. Could be really useful for some ( I might even try them out for optimization )

I believe the FastField uses the same API as Field so it shouldn't be too crazy to implement.
Not sure if w

[2019-05-03 20:08] jannikbuschke commented on #26
Y would be cool if FastField would be supported. However I think that _usually_ using Field will be fast enough, especially in production builds (formik also got faster with recent versions).

As I didn't yet encounter performance issues (and "premature optimization is the root of all evil") I will be reluctant to focus on this topic (unless I hit performance problems).

Contributions would be ver

[2019-05-03 20:50] jannikbuschke opened #27 "Extend FormItem: show green (validation ok) state if touched and no error"

[2019-05-03 22:27] jannikbuschke opened #28 "Add Tag component"

[2019-05-03 23:01] jannikbuschke commented on #27
Implemented

[2019-05-03 23:01] #27 closed

[2019-05-03 23:01] jannikbuschke opened #30 "Add TreeSelect"

[2019-05-03 23:02] jannikbuschke opened #31 "Add Mention"

[2019-05-03 23:27] jannikbuschke commented on #15
#29 I removed the custom onClick handler on the SubmitButton. Means a `<form>`, `<Form>` (formik helper) or `<Form>` (formik-antd) helper are needed for SubmitButton to work

[2019-05-04 17:49] delyanr opened #32 "Using Antd Table with formik"
Hello! Do you have any plans to wrap the Antd Table component? I'm looking to build a form with the ability to add/delete identical objects without using arrays of multiple fields (rather using a table instead). Thanks!

[2019-05-04 19:29] #30 closed

[2019-05-04 19:43] jannikbuschke commented on #32
Currently planned are only components that directly change some state (shown in the README). Here the api, implementation and usefulness is clear.

Tables or list components _could_ be an interesting addition. But I am not yet sure how these components would work and if its possible to "get them right".

Considering the Antd table I can imaging binding it's `datasource` property to some specific f

[2019-05-06 19:00] jannikbuschke opened #34 "exposed validate prop does not have any effect"
It seems exposing Formiks Field validate function does not have any effect. In the docs https://jaredpalmer.com/formik/docs/api/field its only used on bare Fields, so maybe it is only useful in such case.

[2019-05-07 10:51] jannikbuschke opened #35 "FormItem should be exported from Form (as Form.Item)"

[2019-05-08 10:11] jannikbuschke opened #36 "Add MonthPicker, RangePicker, WeekPicker"

[2019-05-08 10:16] jannikbuschke opened #37 "Add missing static properties that are also part of Ant Design components apis"
Some components export additional helpers that are not necessarily components that update state. I.e. https://ant.design/components/input/#Input.Group is a helper to group inputs. This component is part of the Inputs static API, to make migrating to formik-antd I think the formik-antd Input should also statically export the (original) Antd Input.Group.

TODO:

- [x] Add Select.Option
- [x] Add Tre

[2019-05-08 10:46] delyanr commented on #32
I would imagine the following capabilities:
- Separate button to ADD new blank rows
- Each row is composed of fields that could be any of the core components (e.g. mix of Input and Rate), but if that's too difficult maybe only selected subset
- Each row will have a separate actions column for EDIT and DELETE
- Ideally also, when in EDIT mode for specific row, fields become visible and can be chang

[2019-05-12 17:29] vincaslt opened #38 "Add source files as part of npm package"
Please add source files to node_modules package, when publishing the package to npm. Because they are not published, I'm unable to inspect the non-compiled source of the package from my editor and my build is throwing warnings because source map files are referring to source files which are not there.

This is the current file stucture:

![image](https://user-images.githubusercontent.com/944727/57

[2019-05-12 18:08] jannikbuschke commented on #38
Thank you for reporting the issue and giving feedback!

Is this about including TypeScript or the transpiled js files as sources?

Something like this https://stackoverflow.com/questions/31642477/how-to-publish-a-npm-package-with-distribution-files probably gives the solution I guess.

[2019-05-13 06:27] vincaslt commented on #38
The actual typescript files. I think sourcemaps are referring to `../src/<file>.tsx`.

[2019-05-16 01:01] voxtex opened #39 "FormItem hide validate success by default"
First off, excellent library and exactly what I was looking for. Antd's built-in form leaves a lot to be desired, especially around nested fields and arrays. Formik fills the gap perfectly.

I don't think the the validation success state should be enabled by default. An optional prop (showValidationSuccess) should be accepted by FormItem and only show the green success checkmark if it's true. From

[2019-05-18 09:02] jannikbuschke commented on #39
I think you are right.

[2019-05-18 09:02] #39 closed

[2019-05-18 09:15] jannikbuschke opened #41 "FormItem evolvement"
Currently I am not yet 100% happy with the FormItem component, as

- providing the name prop is duplicated (FormItem and the Input control need it)
- creates nesting
- the default css has a big margin-bottom value (antd issue)
- FormItem seems to be a little bit overloaded (i.e.g with layout stuff and rendering a label https://ant.design/components/form/, also the ant design samples here look over

[2019-05-18 13:07] #31 closed

[2019-05-18 13:23] jannikbuschke commented on #34
has been removed

[2019-05-18 13:24] #35 closed

[2019-05-18 13:30] jannikbuschke commented on #38
I just published preview 4 which includes the original src folder:
![image](https://user-images.githubusercontent.com/5894881/57970471-d69f0a80-7981-11e9-8058-65a37de01099.png)

Does this removes the warnings/errors?

[2019-05-18 17:18] jwmann commented on #34
Can you elaborate on this?
I use the validate function for almost every input field, how does it not have any effect?

[2019-05-18 17:30] jannikbuschke commented on #34
I thought it is not working. I tested a bit with code like this:

`<Input name="test" validate={value=>return !value ? "required" : undefined } />`

I expected the validate function to be called whenever the value of the input component changes. However in my tests this never happened.

Can you give me some sample code to understand how it is used?

[2019-05-18 17:45] jannikbuschke commented on #25
@joshsmith can you give me sample code that you would _expect to run successfully_?

[2019-05-18 17:51] mfasanya opened #48 "DatePicker not formatting correctly"
When using the DatePicker through formik it isn't formatted correctly and also when clicked the datepicker doesn't appear.

With formik-antd
<img width="561" alt="Screenshot 2019-05-18 at 18 50 49" src="https://user-images.githubusercontent.com/6720841/57973242-e75d7980-799d-11e9-9c4d-a6c2ffd1aaed.png">

Standard antd
<img width="525" alt="Screenshot 2019-05-18 at 18 51 03" src="https://user-image

[2019-05-18 17:52] mfasanya commented on #48
I tried taking the formik-antd DatePicker code and pasting it locally. That seems to work fine, perhaps the npm module isn't up to date?

[2019-05-18 18:19] jannikbuschke commented on #48
I cant reproduce the issue you are seeing (using v1.0.0-preview.4).

Can you give some sample code or try to reproduce it in codesandbox: https://codesandbox.io/s/x2941k7vpz

[2019-05-18 20:13] mfasanya commented on #48
I'm not able to recreate. But I have isolated the issue, using create-react-app with babel-plugin-import. Whilst if I just import the css then this issue doesn't occur

[2019-05-18 21:09] jannikbuschke commented on #48
I think then this is a duplicate of #24

[2019-05-18 21:56] mfasanya commented on #48
Yep it's a duplicate, for now I've just stopped using babel-plugin-import

[2019-05-18 21:56] #48 closed

[2019-05-19 07:27] voxtex opened #49 "Include package.json "module" field"
Similar to antd, I think it would make sense to include a "module" field in package.json along with a version of the build that uses ES2015 modules instead of only CommonJS. I was going through the code and I'm not quite clear what your actual build/deploy process is, but the fix should be as simple as:

Create another tsconfig (or use command line flags for tsc) to provide the following options (

[2019-05-19 18:41] jwmann commented on #34
That example should be working fine enough (might throw console.log in there to be sure) but keep in mind, the validation only runs for `onBlur` and it Formik does this on purpose there's a huge discussion on that in their GitHub repo issues

Also your example will only show results if there is no value.
So you'd have to do:

1) Input the letter "a"
2) Backspace (input is now empty)
3) Click out o

[2019-05-19 21:31] jannikbuschke commented on #34
Weird, I am pretty sure that it didnt work for me last time. Maybe I used some component where this doesnt work?
Are you using this technique with more components other than Input?

I will revert the changes so validate will work again in the next preview.

[2019-05-20 07:43] joshsmith commented on #25
[code]

[2019-05-20 15:47] jwmann commented on #34
I'm using this with mainly on Input, TextArea, and Select but I've tested it on everything back when I added validate a few months ago

[2019-05-20 22:06] jannikbuschke commented on #25
The antd example is imho overly complicated and uses some HOC wrappers and these getFieldDecorator() helpers. This is definitely not how I _usually_ would want to write my forms...

this code
[code]
allows to switch back and forth between pure antd and formik-antd style (in formik-antd case a name prop for Form.Item needs to provided, which is the only difference) and produces very similar results

[2019-05-20 23:08] jannikbuschke commented on #34
It seems that when the <Input> component is placed inside a <FormItem> component the validate handlers are not called.

[2019-05-21 18:34] jwmann commented on #34
That's because this is not the intended way `<FormItem>` works.
`<FormItem>` does not need a validate, since it doesn't receive values, `<FormItem>` is an error handler so it only requires the name of the child Input.

Here's an example of what I mean.

[code]

FormItem will use the name prop to detect any associated validation errors.
By setting `validate` on both, you're essentially overwriting

[2019-05-24 08:05] joshsmith commented on #25
I don’t think we’re talking about the same thing. I’m referring specifically and only to the `for` HTML attribute on `label`.

[2019-05-24 08:09] joshsmith commented on #25
Read this document on MDN for more context about the importance of associating a label with a labelable element like input: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label

[2019-05-24 15:38] jannikbuschke commented on #25
For me it seems this is more an ant d issue. I am trying to get it working with a minimal ant d setup like this:
[code]
(Note these items can be either imported from antd or formik-and)

In the ant d example the "for" attribute does not appear ín the html. Thats why I think this is an ant design issue / we dont yet understand how to make it work there.

[2019-05-24 18:24] joshsmith commented on #25
Looking into this again, it seems like this does work to produce the `for` attribute:

[code]

That may be sufficient to close this issue, unless you want to keep it open and monitor the other a11y issues identified in the linked one.

[2019-05-24 23:32] jannikbuschke commented on #34
This code doesnt seem to work for me. Whenever an Input component is wrapped in a FormItem the Inputs validate handler is not called (if the FormItem has a validate handler set it will get called).

Can you really confirm that this setup worked in the past?:
[code]

[2019-05-25 00:21] jwmann commented on #34
@jannikbuschke Yes I'm very sure this works. At least for the versions that I'm currently using.
Here is a GIF of it working - https://jwm.d.pr/QkydNY/jULzcp8QnE

![Field Validation POC](https://cdn-sec.droplr.net/files/acc_2368/QkydNY?response-content-disposition=inline%3B%20filename%3DScreen%2520Capture%2520on%25202019-05-24%2520at%252020-13-36.gif&Expires=1558743613&Key-Pair-Id=APKAJTEIOJM3LSMN

[2019-05-25 10:55] jannikbuschke commented on #34
This is really weird. It seems that only the production build shows the behavior you are describing at that I also originally expected to be how it is meant to be.

I released preview 5, with the same implementation as in v0.12 (FormItem has no validation handler, all "core" antd-formik components have validation handlers)

It seems to work: https://codesandbox.io/s/formikantdfieldvalidation-yqj8k

[2019-05-25 15:15] jannikbuschke commented on #49
I currently reading and experimenting about this topic (so far your suggestions seem to work and I will try to release a new preview version with this soon-ish).

My current understanding is this (I am maybe duplicating what you say, I just state it with my words to get a better understanding and may be corrected by whomever if I am wrong):

Compiling without explicitly stating a "target" (as it i

[2019-05-25 16:17] jannikbuschke commented on #25
Ill keep this open to also monitor the ant design issue.

[2019-05-25 16:23] jannikbuschke commented on #49
I released preview 6 with above changes.

Would like to get feedback or input on how to see if this really works.

[2019-05-25 16:25] jannikbuschke commented on #24
@MatthieuCoelho I just released preview 6 which also targets some new ecma script (es6/es2015) which uses more modern import features and might better support tree shaking scenarios and stuff.

With luck now the babel plugin could work!? not sure, but it could be worth trying againg.

[2019-05-26 12:31] vincaslt commented on #38
Yes it did

[2019-05-26 12:31] #38 closed

[2019-05-28 15:34] jwmann commented on #34
@jannikbuschke I can verify that your link seems to work.

Using the children render with props also seems to work if you pass the Formik Props as you mentioned.

[![Edit formik-antd/field-validation-as-children](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/formikantdfieldvalidationaschildren-gwud8?fontsize=14)

I don't think we have to worry about the third ca

[2019-05-29 09:16] MatthieuCoelho commented on #24
It is not solved, but I don't use the babel-plugin-import anymore, I overwrite less variable with a less file directly. It is simpler and I can use formik-antd.

[2019-05-29 09:16] #24 closed

[2019-05-30 07:34] jeessy2 opened #50 "I hope for auto add required to <FormItem/>"
[code]
[code]

I hope for auto add required for FormItem

[2019-05-30 10:33] jannikbuschke commented on #50
Can you provide your full source code (with the Formik container)?

Generally how validation rules are applied is not part of this library. How to add validation to formik is explained in the docs there https://jaredpalmer.com/formik/docs/guides/validation.

The (formik-antd) FormItem as you outlined above should render validation errors if formik correctly detected validation errors for the field

[2019-05-30 10:41] jannikbuschke commented on #34
I guess it wasnt intended that way as in normal formik forms usually the props that are handed in are required to implement the form.

I like the non-function/pure declarative form the most (for the majority of simple forms) as it is the most minimalist one. Also this is library embraces this very declarative style.

But it is fine I guess, I will update the docs accordingly.

[2019-05-30 10:42] #34 closed

[2019-05-30 11:51] jeessy2 commented on #50
@jannikbuschke Sorry, The validation can be working. It's not validation question!
When I use "Yup" to validation, like this:
[code]
But, I must manually writing, like this:
[code]

So, I hope for auto add required for <FormItem/>

[2019-05-30 14:31] jannikbuschke commented on #50
Ah ok, now I understand what you mean.

This is technically very difficult/impossible (the FormItem component does not have access to the validation rules that are configured). And formik does not specify Yup as the validation library, so only after the validation has run (which could also send a request to a server) we really know what fields are required.

[2019-05-30 15:40] jeessy2 opened #51 "<Select.Option/> support?"
Select don't support Select.Option!
I find "Select.renderOptions" in Select.tsx,
But not everybody know this.  Because in ant design, we use <Select.Option>

My code:

[code]
[code]

[2019-05-31 05:29] JeffJankowski commented on #41
I'm currently only wrapping the fields I need to validate with `FormItem`, but I'm also experiencing the pain of overriding the opinionated CSS, and I have to use my own label since I don't want the built-in flex layout. Not sure I have a suggestion, but it would be nice to have a flag like you said that wrapped the input with a `FormItem`, but didn't generate a large-margin `Row`.

[2019-05-31 05:39] JeffJankowski commented on #21
I'm hitting this issue as well. My use case is that I have a radio that adds additional, required fields to the form. A Formik error is generated that the field is missing, and the submit button is correctly disabled. However, since the `validationStatus` is not set, there is no feedback for the user. Additionally, the user can't trigger the validation through submission since the button is disabl

[2019-05-31 08:27] jannikbuschke commented on #21
Would enabling the `SubmitButton` be a solution (or at least workaround) for this case?
I.e. you can do `<SubmitButton disabled={false} />` (https://codesandbox.io/s/x2941k7vpz) to override the default behavior (SubmitButton is only enabled if form is dirty).

[2019-05-31 08:33] jannikbuschke commented on #51
Currently its possible to just use Ant Designs Select.Option in this case.
It can also combined with renderOptions:

[code]

https://codesandbox.io/s/formikantd-uuv9m

[2019-05-31 08:34] jannikbuschke commented on #51
I will most likely also statically set Ant Designs Select.Option on the formik-antds one, so that you can just use `Select.Option` without imporing Select from ant design. See #37

[2019-05-31 13:57] jeessy2 commented on #51
Okay, when is it released

[2019-05-31 15:58] jwmann commented on #21
`<SubmitButton disabled={false} />` probably be the best way to get around this in your case.
You could even add extra logic if you feel it ruins the rest of your form.

In my case, I fixed my issue by using Formik's `setFieldTouched` method to manually set the field touched when I need it to show validation.

[2019-06-01 03:41] JeffJankowski commented on #21
Thanks for the suggestions and quick responses, guys. Really helpful library!

I would prefer if the submit button stay disabled as the current functionality gives an additional cue to the user that the form is invalid, and preventing that action feels like good UX. I'll probably take @jwmann suggestion and manually touch the field, though I was hesitant to add another another hook into the change

[2019-06-01 10:14] jannikbuschke commented on #41
I usually add a global css class to adjust the margin. I.e. in my index.css I add
[code]

Not optimal but imho a pragmatic solution for me.

To **inline** label and input controls imho ant design should provide help here or? In the examples I have seen several forms like this.

[2019-06-01 10:15] jannikbuschke commented on #37
TODO
- [ ] Add Select.Option

[2019-06-01 10:34] jannikbuschke commented on #21
Imho what is currently kind of missing is validation feedback that goes beyond FormItem. FormItem provides validation for simple fields (that exist on the form).
More complex scenarios might require extra `<ValidationMessages>` components that can render messages for things that are not directly link-able to single fields (maybe a combination of values is not allowed, or there is some more complex

[2019-06-01 13:18] jannikbuschke commented on #51
Now

[2019-06-01 13:18] #51 closed

[2019-06-01 22:48] JeffJankowski commented on #41
Antd's `Form.Item` always uses the flex-layout where it respects column-spans and column-offsets. My form width is fixed, so I created a fixed-width label component and just inline my inputs with css: `display: inline-block`

[2019-06-05 01:48] JeffJankowski commented on #21
**FYI:** I ended up having to create my own `FormItem` component and strip out the touched checks. It was becoming too cumbersome to manually touch all the fields (nested, arrays, etc). Additionally, whenever the form is reset (eg. user hits the cancel button), Formik clears the touched state as well.

[2019-06-05 13:58] RomaSto commented on #51
My code:
                          <Select
                            defaultValue="Sunday"

                            <Select.Option value="Sunday">Sunday</Select.Option>
                            <Select.Option value="Monday">Monday</Select.Option>
                            <Select.Option value="Tuesday" >Tuesday</Select.Option>
                            <Select.Option value="Wednesday"

[2019-06-05 14:39] RomaSto opened #53 "DatePicker mode="year" doesnt work"
MY code: `<DatePicker mode="year" name="eventYear" placeholder="Event year" />`

Year can`t be selected

[2019-06-05 14:41] RomaSto opened #54 "Error using Select component"
My code:
                          <Select
                            defaultValue="Sunday"

                            <Select.Option value="Sunday">Sunday</Select.Option>
                            <Select.Option value="Monday">Monday</Select.Option>
                            <Select.Option value="Tuesday" >Tuesday</Select.Option>
                            <Select.Option value="Wednesday"

[2019-06-05 14:42] RomaSto opened #55 "Error when using Select component"
My code:
                          <Select
                            defaultValue="Sunday"

                            <Select.Option value="Sunday">Sunday</Select.Option>
                            <Select.Option value="Monday">Monday</Select.Option>
                            <Select.Option value="Tuesday" >Tuesday</Select.Option>
                            <Select.Option value="Wednesday"

[2019-06-05 16:39] RomaSto commented on #24
@MatthieuCoelho can you please provide an example?

[2019-06-08 00:31] jannikbuschke commented on #54
Your code should work. The "simple select" example looks pretty much the same here https://codesandbox.io/s/x2941k7vpz

Setting the defaultValue should be done on the Formik initialValues props imho. We might need to improve the Select prop api here (i.e. by removing defaultValue)

Your code however looks correct. So pls provide more context or a failing example on codesandbox.

[2019-06-08 19:31] jannikbuschke commented on #53
This seems to be an ant design issue.
There are several issues; its a little scattered:
https://github.com/ant-design/ant-design/issues/11735#issuecomment-412543655
https://github.com/ant-design/ant-design/issues/4524
https://github.com/ant-design/ant-design/issues/15572
https://github.com/ant-design/ant-design-pro/issues/4268
https://github.com/ant-design/ant-design/issues/11053
https://github.co

[2019-06-08 19:34] jannikbuschke commented on #49
@voxtex do you know how to check if tree-shaking properly works?

[2019-06-08 19:45] #36 closed

[2019-06-08 20:01] #37 closed

[2019-06-08 20:40] jannikbuschke commented on #28
The [Tag](https://ant.design/components/tag/) component implementation does not align with normal core formik-antd components. The implementation would be heavily opinionated.

[2019-06-08 20:40] #28 closed

[2019-06-08 23:06] voxtex commented on #49
Thanks for this, I did a bit of testing using webpack-bundle-analyzer. It looks like there is something broken with tree shaking named imports in Webpack 2, at least with create-react-app. I was able to work around it in 2 ways.

1) Import components directly `import {FormItem} from "@jbuschke/formik-antd/es/Formitem"`

2) Use babel-plugin-import, similar to antd, and configure it to automatically

[2019-06-10 06:07] afc163 commented on #53
https://github.com/ant-design/ant-design/pull/16984

[2019-06-10 11:27] #53 closed

[2019-06-12 05:07] iamvanja opened #56 "Checkbox is not set as touched"
Consider
[code]

Toggling this checkbox does not set `rememberMe` field as touched.

[2019-06-12 22:08] #50 closed

[2019-06-12 22:09] jannikbuschke commented on #56
fixed in v1.1

[2019-06-12 22:09] #56 closed

[2019-06-12 22:13] jannikbuschke opened #57 "several core components are not marked as 'touched'"
- [x] Radio.Group
- [x] Switch
- [x] DatePicker

probably more...

[2019-06-13 02:09] iamvanja commented on #56
Appreciate the quick resolution on this, but I don't think this is fully resolved.
To allow custom onChange while still internally updating Formik state, prop onChange should not overwrite existing onChange. Instead, existing (internal) onChange should check if the user onChange is passed as a prop and execute it if so.

So instead of
[code]

something like this

[code]

[2019-06-13 02:14] iamvanja commented on #41
Biggest problem for me is the lack of `for`&`id`/`name` built-in mechanism so it has to be done manually creating a lot of boilerplate. On top of that, to enable IMHO basic form accessibility to focus a field by clicking it's label should be provided out of the box.
Currently I have a simple wrapper around FormItem + Form component, but it would be nice to have something out of the box. We can tal

[2019-06-13 07:44] jannikbuschke opened #58 "invoke onChange handlers"
To allow custom onChange while still internally updating Formik state, prop onChange should not overwrite existing onChange. Instead, existing (internal) onChange should check if the user onChange is passed as a prop and execute it if so.

So instead of
[code]

something like this

[code]

_Originally posted by @iamvanja in https://github.com/jannikbuschke/formik-antd/issues/56#issuecomment-501520

[2019-06-13 07:46] jannikbuschke commented on #58
@iamvanja agree. I think this allows to implement more complex forms. Also the current (typescript) api exposes onChange handlers but "drops" them internally, so current api and implementation do not align

[2019-06-13 07:50] jannikbuschke commented on #58
@iamvanja PRs are welcome (I am a bit overloaded work-wise atm)

[2019-06-13 07:54] jannikbuschke commented on #41
@iamvanja sure!
However I think this is mainly an Ant Design issue. See also #25
This library just composes ant design + formik. So ideally both features/bugs triple through. If we start fixing bugs we are only fighting symptoms. Imho the ant designs FormItem componen itself is overloaded with different concerns ( + accessibility is not backed in)

[2019-06-13 12:35] jeessy2 commented on #57
fixed!  PR #59

[2019-06-14 12:29] gabrielberlanda commented on #21
@JeffJankowski Could you please share your solution?

[2019-06-16 08:16] JeffJankowski commented on #21
@gabrielberlanda You can modify [FormItem.tsx](https://github.com/jannikbuschke/formik-antd/blob/master/src/FormItem.tsx) by either copying the file from git and referencing it as needed, or you can use npm module `patch-package` to manipulate `node_modules` in-place. If you go with cloning the file, you'll need to fix the `lodash.get` reference if you don't already have `lodash` installed. With `

[2019-06-20 00:20] joshsmith opened #63 "Changing imports to reduce bundle size?"
I just spent a couple hours tonight trying to figure out why my [import on demand](https://ant.design/docs/react/getting-started#Import-on-Demand) per Ant's docs was not working. Turns out that it was a couple imports from `formik-antd`.

I wonder if it's possible for `formik-antd` to import similarly, e.g. instead of `import { Form } from 'antd'` you would do `import Form from 'antd/lib/form'` or

[2019-06-20 08:15] shauntrennery commented on #57
Select?

[2019-06-20 12:26] joshsmith commented on #63
Also, Ant strongly recommends keeping imports as you have them and instead using [`babel-plugin-import`](https://github.com/ant-design/babel-plugin-import).

[2019-06-22 07:28] babbarankit commented on #26
@jannikbuschke I think subnamespace will be good option. I can work on the PR.

[2019-06-22 07:36] jannikbuschke commented on #26
@babbarankit I recently noticed that any exported component is available like `import { Component } from "@jbuschke\formik-antd\lib\path-to-component`

 This is what you mean or?

[2019-06-22 07:42] jannikbuschke commented on #63
Yes this is totally what I would want. Just do normal imports, let babel-plugin-import transform and have the _import on demand_ thing working.
Help of any sort here is appreciated as I have only little knowledge about babel and the js import/modul/css tricky details...

[2019-06-22 07:42] jannikbuschke commented on #63
A first step should be to get the _import on demand_ working. Others #24 have mentioned that it is currently not working.

[2019-06-22 14:56] joshsmith commented on #63
Okay, I can try to look into this later, though I'm having issues understanding even how ant's own exports work exactly (due, unfortunately, in large part to much of the conversation in their issues being in Mandarin).

[2019-06-28 01:07] claneo commented on #63
This is my `babel-plugin-import` config:

[code]

So my suggestion is to use same filename style with `antd`, and include style entry file, which looks like this:

[code]

`style/index.js` and `style/css.js` just import `antd/lib/xxx/style` and `antd/lib/xxx/style/css.js`

After doing that, we can use a simple `babel-plugin-import` config:

[code]

@jannikbuschke

[2019-06-30 08:17] jannikbuschke commented on #57
should be fixed in v1.2

[2019-06-30 08:17] #57 closed

[2019-06-30 12:43] joshsmith commented on #63
@claneo thanks so much for sharing this!

@jannikbuschke I would definitely second the approach suggested here.

[2019-06-30 14:43] jannikbuschke commented on #63
@joshsmith I am currently doing so. There is version 1.3.0-beta.0
where I tried to apply above to the AutoComplete control. I am now trying to test.

[2019-06-30 15:15] jannikbuschke commented on #63
currently I cannot even get plugin-import to work for antd. My .babelrc looks like this:
[code]

As `create-react-app` comes with babel included I expected this to work out of the box. But somehow it doesnt.

[2019-06-30 20:27] jannikbuschke commented on #63
@claneo your suggestions seem to work. I released v 1.3.0-beta.6.

As per ant designs documentation I use react-app-rewire and customize-cra with following `config-overrides.js` (root level):
[code]

the preview only makes the AutoComplete component modular.

The build output is roughly 1 mb. Not sure if this is correct.

[2019-07-01 00:27] claneo commented on #63
@jannikbuschke
It's correct. Half of the bundle size comes from `antd`'s icon library, which really annoyed users over the past year.

BTW, it seems like that setting `sideEffects` field of `package.json` could help tree shaking out of box, just like what `antd` do:
https://github.com/ant-design/ant-design/blob/master/package.json#L237:L242
related webpack document:
https://webpack.js.org/guides/t

[2019-07-02 21:44] jannikbuschke opened #66 "Add Typography.Paragraph (editable)?"
https://ant.design/components/typography/

[2019-07-02 21:46] jannikbuschke commented on #54
Not reproducable. Feel free to open again if the issue persists (pls provide a repro then)

[2019-07-06 12:41] jannikbuschke commented on #63
with source-map-explorer it seems to me that tree-shaking is kind of working. Icons however are included in the build as you expected:

![image](https://user-images.githubusercontent.com/5894881/60756168-a4616f00-9ffa-11e9-9049-69b76d05ecee.png)

didnt yet test the sideEffects option

[2019-07-06 18:30] jannikbuschke commented on #63
It seems the icon bundling issue is recognized and will be fixes as part of ant design 4: https://github.com/ant-design/ant-design/issues/16911

[2019-07-06 19:51] jannikbuschke commented on #63
Tried this https://github.com/Beven91/webpack-ant-icon-loader/issues as a workaround for code-splitting icons but the resulting bundle still shows all icons imported.
This is my customize-cra config:

[code]

[2019-07-10 11:50] joshsmith commented on #63
Personally, no matter what I have tried here – and I've tried a lot because the total bundle size is huge, and my app is an in-app widget, which just upsets _my_ customers – I could not get this to work. IMO, this is not so much your problem right now as Ant's problem generally. Hopefully v4 drops soon.

[2019-07-15 19:12] pavanagrawal123 commented on #4
@jannikbuschke Trying to test #68 locally, but the changes for modular imports seem to break the lerna playground... Any insight? Thanks :)

[2019-07-15 20:13] jannikbuschke commented on #4
Y, something seems to be broken.
However you should be able to test against master (version 1.2 I think) or?

[2019-07-15 20:27] jannikbuschke commented on #4
Actually it works for me. I deleted /lib and /es folders,
and run
[code]

[2019-07-15 20:48] pavanagrawal123 commented on #4
@jannikbuschke are you using the modular imports + the babel plugin?

[2019-07-15 21:11] jannikbuschke commented on #4
I would recommend to test against master without modular imports + babel plugin.

[2019-07-15 22:49] pavanagrawal123 commented on #4
@jannikbuschke would you happen to know what is causing the error below?
![image](https://user-images.githubusercontent.com/17802917/61254041-cd83ad00-a728-11e9-9d8a-171cfa4d253c.png)
I'm on master for formik-antd and my react app is a pretty basic normal react app. This error does not occur when I use the package from npm, it only occurs when i try to install from source with lerna.

[2019-07-16 07:19] jannikbuschke commented on #4
@pavanagrawal123 this happens if some library (either react or formik in this case I think) is brought in twice by the packages.
The playground has `/app/` and `/formik-antd/` as a package. Both have dependencies on react and formik. If when running the whole thing `app` uses a different copy of `react` (or `formik`) than `formik-antd`, then above error occurs.

This is why we need to run `lerna b

[2019-07-19 22:05] voxtex commented on #26
I think this a great idea, I see performance issues with Formik when I have 25+ fields. Although I disagree it should be a separate component, why not make it a property on all existing components `fast={true}` and then use `Field` vs `FastField` in the component itself? Would reduce a lot of code duplication.

[2019-07-20 07:00] jannikbuschke commented on #26
Do you see performance problems in debug mode or with your production build?

[2019-07-24 08:55] iloveip opened #69 "Using react-input-mask for Input"
Hi there,

Is it possible to use `formik-antd` with [react-input-mask](https://github.com/sanniassin/react-input-mask)?

Here is an [example](https://codesandbox.io/s/react-input-mask-wantd-final2-8ihln?fontsize=14) of `react-input-mask` with `antd`.

When I try to add it to `formik-antd`, I can see the mask onFocus, but it doesn't work onChange. Here is the [demo](https://codesandbox.io/s/add-for

[2019-07-24 09:07] jannikbuschke commented on #69
mh not sure about this one.
Currently the onChange handlers are not yet properly exposed (its in progress, I can release a new version for the Input component soon).

also it seems that react-input-mask would need to set the value of the component correct?
So basically react-inpu-mask becomes the controlling instance of the Input. Not sure about the consequences.

[2019-07-24 09:40] iloveip commented on #69
Thank you very much for your reply. Are there any other libraries for masking inputs, compatible with `formik-antd`?

[2019-07-24 09:55] jannikbuschke commented on #69
Not that I am aware of.

Is react-input-mask compatible with ant design? If so I would recommend to create a custom component for your specific use case and not use formik-antd in this specific case. Or wait until the onChange functionality is released and try agaiin.

Also an alternative could be to use the InputNumber component which has a format property to allow customizing what is being rende

[2019-07-24 11:05] iloveip commented on #69
Ok, thank you very much!

[2019-07-24 11:19] iloveip commented on #69
Actually, I was able to get it work with `onChange={handleChange}`, here is the [demo](https://codesandbox.io/s/formik-antd-wreact-input-mask-mlloq?fontsize=14).

I have one more question, is it possible to parse the value, submitted through `formik-antd` Input? Something like this:

[code]

[2019-07-24 11:59] jannikbuschke commented on #69
theoretically you can change the input:

https://codesandbox.io/s/formik-antd-wreact-input-mask-in0rv

With your above code setting the `changedValue` creates an error (probably due to input-mask).

Just as a side-node: overriding onChange here and setting formik values directly (via onChange or setField) is exactly what `formik-antd` is designed for.
So basically you dont really need `formik-antd

[2019-07-24 12:07] iloveip commented on #69
Ok, I see, thank you very much.

[2019-07-24 12:07] #69 closed

[2019-07-25 16:55] edongashi commented on #63
I read this icon workaround somewhere and it worked for me:

`config-overrides.js`

[code]

`icons.ts` is a copy paste from antd source but every icon that is not used has been commented out.

[2019-07-26 00:50] victorferreira opened #70 "Radio component as Radio.Button produces "undefined" form items"
If I have a Radio.Group on my form, whenever I change the value of the radio it creates a "undefined" attribute in the values object. Part of the behaviour is correct, it changes the value of the category to whichever value I have selected at the time, but also creates a new attribute called "undefined".  I have to manually remove to the key from the object to correctly submit the form.

I even cr

[2019-07-26 08:07] jannikbuschke commented on #70
I never checked the Radio item itself.
I would recommend to use the Radio.Button component like so
[code]

Usage of Radio is something I would need to look at.

[2019-07-26 13:33] victorferreira commented on #70
Thank you!

The workaround a used to fix it was to add a name prop in every Radio item, but it seemed very redundant to me.

[code]

Using Radio.Button seems to be a better solution.

[2019-08-08 20:35] tsaiDavid opened #71 "Problem validating an Input wrapped by Form.Item"
Hi there - thanks for the work on `formik-antd`!

I'm running into a slight snag - how might I utilize the `validate` prop on an `<Input />` component - all while utilizing a `<Form.Item>` to wrap it?

I would like to provide a label for a field and perform field-level validation on it, but it looks like if the name property on `Form.Item` and `Input` are identical, any errors do not make it up in

[2019-08-08 21:05] jannikbuschke commented on #71
Thanks for the repro, this seems to be a bug.

[2019-08-09 08:59] jannikbuschke commented on #71
Its a bit weird, but inlining the validation callback solves the issue:
https://codesandbox.io/s/formikantd-oz3yq

Not sure why

[2019-08-09 14:03] voxtex opened #73 "Submit Button default disabled behavior"
It doesn't seem to make sense to disable SubmitButton by default when the form is invalid. What ends up happening is that the form is immediately invalid, and since errors don't show up on fields unless they have been touched (focused or submit button pressed), it is impossible to tell which form fields need to be fixed and you can't click submit to check.

I propose remove isValid check or changi

[2019-08-13 07:39] jannikbuschke commented on #73
I also regularly overwrite the default behavior (i.e. by using disable={true})

(!isValid && submitCount > 0) seems to be an improvement. Maybe there are also better implementations. Feel free to open a pull request.

It would also be good to here from others what I good default behavior would be.

[2019-08-27 09:37] jannikbuschke opened #75 "any breaking changes in 1.3?"
If anyone by change reads this, can you report if version 1.3 works or has any problems that have not been present in 1.2?

The underlying way of exporting components changed, but there shouldnt be any breaking changes.

Any feedback is appreciated (also just "works")

[2019-08-27 10:50] claneo commented on #75
While I'm using `babel-plugin-import` (as mentioned in [#63](https://github.com/jannikbuschke/formik-antd/issues/63#issuecomment-506563291)), it breaks in 1.3. I'm not sure if someone copied this config.

Another situation is someone may use the import style like `import { Input } from '@jbuschke/formik-antd/es/Input'` to reduce bundle size. It won't work too.

[2019-08-28 13:06] jannikbuschke commented on #75
Can you try following `.babelrc`
[code]

`config-overrides.js`:

[code]

[code]

The icon loading doesnt really work though

[2019-08-28 13:59] claneo commented on #75
It works for me. In fact, I have already changed my babel config after 1.3.0 released.

`.babelrc` won't work if you are using `create-react-app`, just use `config-overrides.js`.

As for `webpack-ant-icon-loader`, what it do is just split icon to another chunk, not removing unused icons, so total bundle size won't reduce. Only [this method](https://github.com/jannikbuschke/formik-antd/issues/63#is

[2019-09-02 16:45] Mikecoon opened #76 "Using antd style customization"
Getting started documentation says:

And Antd's documentation has:
https://ant.design/docs/react/use-with-create-react-app#Customize-Theme

It also gives the ability to reduce the amount of css code which should be included by adding only used components.
https://ant.design/docs/react/use-with-create-react-app#Advanced-Guides

But when I use formik-antd I lose this and can't customize theme anymor

[2019-09-02 16:54] jannikbuschke commented on #76
Modular imports are now possible. This maybe also helps with custom themes.
Can you have a look at #75 and see if you can find a configuration that allows custom theming?

[2019-09-02 19:37] Mikecoon commented on #76
Oh thanks! Works :)

[2019-09-02 19:37] #76 closed

[2019-09-02 20:34] Mikecoon opened #77 "Lack of animations of datepicker"
Original datepicker has tidy animation when it opens and closes up.
This datepicker appears immediately, why?

[2019-09-02 20:55] jannikbuschke commented on #77
Can you repro here: https://codesandbox.io/s/x2941k7vpz?
for me it shows animations

[2019-09-02 21:51] Mikecoon commented on #77
Yes, if you remove ` showTime={true} ` prop closing animation disappears for the first time, then it's okay.
I guess my issue related to overrided `onBlur` and `onFocus`  props.
Is there any note, how to handle them properly?

[2019-09-03 15:19] viters opened #78 "Problem with styles with Form component using customize-cra"
My `config-overrides.js` is:
[code]

I have a form, where I want to import `formik-antd` components:
[code]

Then I receive an error:
`Module not found: Can't resolve '@jbuschke/formik-antd/es/form/style' `

`formik-antd` version 1.3.0.

Screenshot from `antd`:
![image](https://user-images.githubusercontent.com/13100466/64186296-e1b57200-ce6e-11e9-8b46-e0ef607e7e3f.png)

Screenshot from `formik-an

[2019-09-11 11:13] RomaSto opened #80 "Checkbox.Group errors"
Checkbox.Group with options as array of objects throws
TypeError
state.value.indexOf is not a function

https://codesandbox.io/s/inspiring-herschel-0s72m

Checkboxes nested into a group throw
TypeError
checkboxGroup.value.indexOf is not a function

https://codesandbox.io/s/naughty-proskuriakova-pu22z

[2019-09-13 21:37] #78 closed

[2019-09-13 21:43] #58 closed

[2019-09-13 22:39] jannikbuschke commented on #63
@edongashi can you point directly to this icon.ts file you are mentioning? Im having a hard time finding it.

[2019-09-13 22:41] jannikbuschke commented on #63
I think antd icons are now or will shortly support treeshaking: https://github.com/ant-design/ant-design-icons/pull/96/files

[2019-09-14 12:16] edongashi commented on #63
@jannikbuschke I can't remember and couldn't find it online either. Maybe it's in older commits because as you noted, they are changing the approach.

I uploaded the file here: https://gist.github.com/edongashi/25472166af75197287bd62d14d654363 I would comment all lines and then start uncommenting whichever icons you need.

[2019-09-14 12:26] edongashi commented on #63
Also worth mentioning that I still had issues with bundling while using this library. Treeshaking wasn't working - it was importing a ton of things from antd without ever using it. I tried playing with babel plugins and whatnot but gave up. My (primitive) solution was copying this library (and license) source to a folder inside src and setting `"sideEffects"` in package.json of CRA:

[code]

This

[2019-09-14 12:32] jannikbuschke commented on #63
I also had problems with tree shaking. There have been also problems with some formik-antd components, however this might be fixed in the newest 1.4 version.
Im preparing the documentation here:  https://github.com/jannikbuschke/formik-antd/tree/release/1.4#treeshaking--es-imports

Not yet 100% sure if it works, but at least babel imports work (dont need to reference antd.css, just import the comp

[2019-09-14 12:42] edongashi commented on #63
Sounds great. I'll keep an eye for 1.4 and do a cleanup for these things. If I find anything useful I will update. Thanks!

[2019-10-04 16:12] #71 closed

[2019-10-06 14:43] jannikbuschke commented on #77
Do you still face this issue?
If so can you reproduce here https://codesandbox.io/s/formikantd-v8tpq ?

[2019-10-06 15:19] #75 closed

[2019-10-06 20:14] thj-dk commented on #63
I'm having some issues with regards to bundle size and formik-antd version 1.5.1.
The formik-antd bundle parse size is rather large:
* antd: 29.2 KB
* formik: 25.33 KB
* formik-antd: 84.07 KB

Here's my customize-cra configuration and component source:

[code]

[code]

What am I missing?

[2019-10-07 12:26] jannikbuschke commented on #63
Unfortunately I'm lacking knowledge in this area. Any help by others is highly appreciated.

[2019-10-07 18:29] Mikecoon commented on #77
Yes, I guess because it spends time to drop an error to console, I'm not sure but probably it does it in the UI thread or something.

So yes, the most first open performs with cut animation.

[2019-10-07 19:53] jannikbuschke commented on #77
I don't really recognize performance issues with the animations. I also do not see any error on the console. Maybe its browser related?

[2019-10-08 03:36] afk-mario opened #87 "SubmitButton disabled when the form has initial values"
I have a multi form where you can pick up where you left while filling them out, so at times the initial values I pass to the Form is the values grabbed from the server, The submit button is disabled and doesn't let me submit even when the schema validation is passing, It only let's me when the value of the fields is different from the initial values.

[2019-10-08 06:50] Mikecoon commented on #77
Sorry, I meant warning.
It says:

[code]

[2019-10-08 08:24] jannikbuschke commented on #77
Does this also happen with the plain ant design component?
https://codesandbox.io/s/formikantd-v8tpq
For me it also prints a warning (but I dont really see any performance issue)

[2019-10-08 08:26] jannikbuschke commented on #87
Pls use `<SubmitButton disabled={false} />` as a work around.

related #73

[2019-10-08 16:23] afk-mario commented on #87
I currently ise that work around thanks :)

[2019-10-08 17:42] thj-dk commented on #63
I'm in the same boat. It would be really great to have this fixed - it's a great library for us using both antd and formik.

[2019-10-08 18:07] edongashi commented on #63
It's weird considering the package has sideEffects=false. Some import somewhere is sticking the modules together.

[2019-10-18 14:51] Khartir opened #91 "Allow Formik 2"
Formik 2 is nearing completion and as far as I can tell, there is no reason that formik-antd should not simply work with Formik 2. I did some tests on a project I'm working on and it seems to be working just fine. So I would suggest to increase the allowed Formik version.

[2019-10-18 14:54] jannikbuschke commented on #91
My tests so far also work. However I would like to wait until formik v2 is final.

[2019-10-18 19:06] thj-dk commented on #63
I found another problem with my code sample above.
When doing a production build, no antd-related styles are included, only during development using the webpack-dev-server.

Any ideas?

[2019-10-19 00:22] edongashi commented on #63
@thj-dk is your build script in `package.json` set to `"build": "react-app-rewired build"`?

[2019-10-19 07:37] JeffJankowski opened #92 "Babel import styles not working in production build"
Here is my `config-overrides.js`:

[code]

Everything is working great with `yarn start`, but I'm missing styles for `formik-antd` components when creating a production build (`yarn build`).

Just saw this comment, which looks like they're having the same issue: https://github.com/jannikbuschke/formik-antd/issues/63#issuecomment-543891530

The next comment in that thread (@edongashi) has suggestio

[2019-10-19 07:40] JeffJankowski commented on #92
Visual results on production build are identical to if I excluded the babel imports block altogether:
[code]

[2019-10-19 07:42] JeffJankowski commented on #63
Having the same issue as @thj-dk. I coincidentally just created this issue: https://github.com/jannikbuschke/formik-antd/issues/92

[2019-10-19 08:51] edongashi commented on #63
I found the problem. This library has `"sideEffects": false` whereas ant design has

[code]

Marking all files as side effect free tells webpack to shake off files that have no used tokens (this happens for styles). I will send a PR now.

[2019-10-19 11:38] jannikbuschke commented on #92
thanx to @edongashi this is working now (v.1.5.4).

[2019-10-19 11:38] #92 closed

[2019-10-22 09:33] CANHBK opened #95 "Placeholder on Select component not working"
My placeholder text not rendering.

[2019-10-22 10:22] jannikbuschke commented on #95
Can you reproduce the problem here: https://codesandbox.io/s/formikantd-h5jv2?

[2019-10-23 18:10] thj-dk commented on #63
@edongashi I finally got to test this. sorry for the late reply.
Thank you very much for solving this issue.

However, I'm now unable to modify theme variables. Neither of these approaches works.

[code]

Or:

[code]

Both working using the webpack-dev-server, but not in production builds.

Any ideas?

[2019-10-23 19:15] edongashi commented on #63
Hmm, I'm not sure. This library does not expose any `.less` files. so I don't know whether adding the ".less" string to sideEffects would have any effect.

Could you try going to `node_modules/@jbuschke/formik-antd/package.json` and add `"*.less"` string to `sideEffects`? Try to rebuild it after that. If it works then we can PR to also include that match.

I'll investigate meanwhile to see if I ca

[2019-10-23 21:06] jannikbuschke commented on #63
In the antd docs it is mentioned that the `style` prop in babel-import should be `true` https://ant.design/docs/react/customize-theme#Not-working

[2019-10-23 21:09] thj-dk commented on #63
@jannikbuschke tried different values here, and it doesn't seem to make a difference.

[2019-10-23 21:41] edongashi commented on #63
I tried to reproduce this issue with

[code]

but it works on both dev and prod builds. Do you have an `@import` statement somewhere in your less files? If yes, please paste it here - maybe there's a problem.

[2019-10-24 20:09] thj-dk commented on #63
Call of the search. Deleting node_modules and reinstalling the packages did the trick. Everything is good now - sorry about that.

[2019-10-24 21:30] jannikbuschke commented on #63
nice.
Is there anything that should go into the docs/README?

[2019-10-24 22:16] thj-dk commented on #63
I don't think so. It's pretty straight forward after @edongashi's fix.

[2019-10-27 23:37] rszemplinski commented on #91
Looks like it came out yesterday

[2019-10-28 02:54] rszemplinski opened #96 "Why do we need fix babel imports for formilk-antd?"
Just curious why we need to do this to use your package?

[code]

I couldn't find anything in the docs that explain the reasoning behind this.

[2019-10-28 08:04] jannikbuschke commented on #96
This step is optional. If you do not want to include the full antd.css stylesheets (or the specific component stylesheets) you can let babel do the imports for you.

[2019-10-28 13:46] rszemplinski commented on #96
But doesn't this

[code]

Do exactly that?

[2019-10-28 15:06] jannikbuschke commented on #96
Did you test this?

I think (I am not an expert on this topic), in this case only original antd imports would properly work. But this library re-exports antd components, so a `import {Input} from "@jbuschke/formik-antd` would be undetected by babel and the styles could be missing.

[2019-10-28 15:09] jannikbuschke commented on #91
you can start using https://www.npmjs.com/package/formik-antd (instead of `@jbuschke/formik-antd` use `formik-antd`) with version 1.6. It should state compatibility with formik v2.

I didnt yet properly announce the new namespace, however all future versions will be land on this new namespace/package.

[2019-10-28 15:12] rszemplinski commented on #96
I have not tested this yet. I will get back to you tonight with the results. Thanks for working with me. This is more for my curiosity and not questioning your work. 😅

[2019-10-28 21:03] #91 closed

[2019-10-28 21:04] jannikbuschke opened #97 "new package name: formik-antd"

[2019-10-31 00:56] HugoLiconV commented on #63
I don't know if I'm doing something wrong but I can't reduce bundle size. here is the code:
[code]
and this is my initial bundle size:
  492.13 KB      build/static/js/2.37dc6e1d.chunk.js
  57.68 KB        build/static/css/2.93e9ecf4.chunk.css
  34.35 KB        build/static/js/main.dfd05324.chunk.js
  781 B              build/static/js/runtime~main.e67f81d3.js
  577 B              build/static/css

[2019-11-02 19:54] rszemplinski opened #98 "Can we use field arrays with formik-antd?"
Was wondering if this is possible/supported?

[2019-11-02 20:06] #98 closed

[2019-11-29 01:09] herbertpimentel opened #101 "how Imperatively trigger submit - missing useFormikContext"
in formik examples (https://jaredpalmer.com/formik/docs/api/useFormikContext) we have useFormikContext hook that allows us to have access to { values, submitForm } so we can imperatively  trigger the form submition, this is helpful specially when we need submit from a antd modal.

any suggestion to accomplish that ?

[2019-11-29 08:51] jannikbuschke commented on #101
this library does not alter how formik or ant design works. So usually you will wrap everything that you consider part of your form with the `formik` component. Inside that you can use `useFormikContext` just as usual (if you are using formik v2).

[2019-11-29 14:01] herbertpimentel commented on #101
Hey @jannikbuschke thanks for the quick answer.... please can you check that https://codesandbox.io/s/formikantd-f1txw I am stuck with it.

[2019-11-29 14:18] herbertpimentel commented on #101
Hey @jannikbuschke thanks for the quick answer. here is a solution for future reference

https://codesandbox.io/s/formikantd-f1txw

[2019-11-29 14:25] jannikbuschke commented on #101
Your usage of refs looks a bit dubious to me.

Here is an example without: https://codesandbox.io/s/formikantd-shzig

you can just use useFormik in any child component within a `Formik` component

[2019-12-02 03:06] herbertpimentel commented on #101
Yep, I see, but my original it is a bit more complex and uses ref because in the end is the the Modal OK button that triggers the submition

[2019-12-02 19:59] warrenday opened #102 "Validation values are stale"
When using fields such as "TimePicker" or "DatePicker". The values passed into Formiks "validate" or "validateSchema" are incorrect. The callback is showing stale values.

This is only true when validation is called after an `onBlur` event. `onChange` works fine.

[code]

[code]

[code]

[2019-12-04 07:06] nimiak commented on #102
This is related to jaredpalmer/formik#2083.

Works fine with formik v1.5.8

[2019-12-05 18:49] dbousamra commented on #26
I see problems in production build. I have ~ 30 fields in my form across several pages.

[2019-12-06 18:43] heuristicAL opened #103 "Autocomplete filters by value only instead of value & text"
When I use an Autocomplete from this package, it seems to set the `value` of the autocomplete field as the input from the textbox. This is fine when I search for anything that is not contained in the 'value' field of my dataset but, as soon as I enter a value that is part of the dataset's `value` field, it automatically assigns that option as the only possible option. The normal ant autocomplete w

[2019-12-17 14:32] zhGio opened #104 "Select defaultValue not working"
defaultValue prop on <Select> does not work, while it works on Antd.

Reproduced on: https://codesandbox.io/s/formikantd-h1dor

[2019-12-17 15:38] jannikbuschke commented on #104
As states are managed via formik, I would recommend to set a default value for your field on the "initialValues" object that is passed to the `Formik` component.

[2019-12-18 00:52] mbryne opened #105 "Allow RangePicker to operate on two different fields (instead of one of type array)"
Greetings,

Thank you very much for your efforts on this,

Is there any possibility you could provide an example for how to use name attribute of the RangePicker for two different object properties?

[2019-12-18 07:32] zhGio commented on #104
Ugh I have some logic which programatically decides which dynamically rendered fields have default values and which not.. Using initial values there is not really an option

[2019-12-20 22:37] jannikbuschke commented on #104
After thinking a bit about this, I think (unfortunately for you) initialValues is the only option that does make sense.
We use formik as a form state management library. Allowing setting initial values on the components _without_ having this reflected inside formik would be inconsistent. In the ui the initial value would be displayed, however formik would not yet have this value, and a submit woul

[2019-12-20 22:42] jannikbuschke commented on #103
Should be fixed in v1.6.2

[2019-12-20 22:43] jannikbuschke commented on #95
I couldnt reproduce. Feel free to reopen if you still see this issue.

[2019-12-20 22:43] #95 closed

[2019-12-23 23:26] jannikbuschke commented on #102
@warrenday is this still an issue with formik v2.0.8?

[2019-12-23 23:27] #101 closed

[2019-12-23 23:30] jannikbuschke commented on #96
closing for housekeeping. Feel free to reopen if there is something unclear.

[2019-12-23 23:30] #96 closed

[2019-12-23 23:35] jannikbuschke commented on #80
@RomaSto sorry for the late response.
All `formik-antd` components need a `name: string` property that syncs the state to formik.
This solves both your codesandboxes.

i.e. this works:
[code]

[2019-12-23 23:36] jannikbuschke commented on #80
Feel free to reopen if there still is an issue

[2019-12-23 23:36] #80 closed

[2019-12-23 23:37] jannikbuschke commented on #77
This seems to not be a problem with `formik-antd`.

[2019-12-23 23:37] #77 closed

[2019-12-23 23:43] jannikbuschke commented on #105
This is currently not possible.
This might be worth to be implemented. The RangePicker could then have `name1` and `name2` props in this mode (and just a `name` prop with the current array mode).

[2019-12-23 23:48] jannikbuschke commented on #32
Im currently implementing a table component:

here is some sample code that can be used in v.1.7.0-beta.0

[code]

feel free to comment here on the api or here #106

[2019-12-23 23:57] jannikbuschke commented on #70
Actually the `name` prop for the `Radio` component is always required and by design.
Using `Radio.Button` seems to be the preferred way on how to use a RadioButton Group.

[2019-12-23 23:57] #70 closed

[2019-12-25 07:43] zhGio commented on #104
Ah I see, that absolutely makes sense.. Is it possible to link the defaultValue prop with the formik's initialValue for that field?

[2019-12-25 10:51] jannikbuschke commented on #104
I don't think thats feasible.

[2019-12-26 13:10] zhGio commented on #104
Alright. Thanks for the issue, I went around it by using Formik's setFieldValue when the default value loads, and understand why the defaultValue doesn't work.

[2019-12-26 13:10] #104 closed

[2019-12-26 21:06] ericdvb commented on #102
I'm seeing this issue after an upgrade to latest (2.0.8). I'm using a custom field component (at the bottom however, it's just an `input` element), and the behavior is the same - the validation callback is fired once with the updated value, and then a second time with the last / stale value. Happy to provide more details and would love to know if this issue is caused by something about the way I'v

[2019-12-26 23:35] ericdvb commented on #102
@warrenday I'm seeing this behavior as well after upgrading to latest Formik. Can't speak to the specific way you have your form / field set up, but in our case in v1.5.2 (previous version our project was on) the validation fires twice on change, the second time with the fresh value. In v2.0.8, it fires twice on change, the second time using the stale value.

It also seems that setting `validateOn

[2019-12-27 20:50] #102 closed

[2019-12-27 20:53] jannikbuschke commented on #102
this should be fixed in v1.6.3 and v1.7.0-beta.1

[2019-12-28 23:31] thomaslc66 opened #107 "FormItem hasFeedBack props, not working"
Hello,

One features that i like in antd is the hasFeedBack pros, displaying a litte red cross if the field has error.

Working good with the antd FormItem, displayed in the input field next to the text, if the field has error and changing if the field is valid.

But not with formik-antd, the red cross is displayed outside the input field and nothing is displayed when the field is valid.

[2019-12-28 23:53] jannikbuschke commented on #107
Can you try following workaround:
[code]

[2019-12-29 00:24] jannikbuschke commented on #105
Not sure if this would help you already, but if you just want the changed values in two separated fields, you could use the onChange prop to do this yourself.
The RangePicker would still use the `values` field to store and read the current value:

[code]

[2020-01-04 12:21] BalintBanyasz opened #108 "Antd 4.0 support"
Antd [4.0.0-rc.0](https://github.com/ant-design/ant-design/issues/20661) has been released and there shouldn't be any major changes before the final version becomes available.

Can we expect an updated beta or RC version of `formik-antd` as well before Ant Design 4.0 is officially released?

It would be nice to be able to test 4.0 but currently the build fails with formik-antd 1.6.3.

[2020-01-04 20:49] jannikbuschke commented on #108
I will try to have a look at it as soon as possible, I am not sure though when I have time. Hopefully next week.
If anyone is interested to start working at this feel free to open PRs.

I expect some changes for `formik-antd` and probably a major version upgrade, however I didn't yet look what changed in antd 4.

[2020-01-05 11:37] jannikbuschke commented on #108
I just published a version 2.0.0-beta.0 that uses v4.0.0-rc.0! Most stuff seems to work just fine. Upgrade was relatively easy but I needed to remove some types (for the different TimePickers).

Related PR  #109

[2020-01-05 11:45] BalintBanyasz commented on #108
That's awesome! Thank you very much!

[2020-01-07 14:17] takethefake opened #110 "Initial Errors are not displayed when available"
If I provide Formik with an `initialErrors`-object the error within is not displayed field. This happens because the initial errors aren't considered when rendering.

A reproducable example can be found here: https://codesandbox.io/s/formik-antd-initial-error-h3krq

The fix would be in the FormItem Component

[code]

will work on a fix now

[2020-01-07 22:47] #110 closed

[2020-01-07 23:17] jannikbuschke commented on #110
should be fixed in v1.7.1

[2020-01-10 17:59] frankchendev opened #113 "The change of checkbox, Radio would invoke the Formik form level validation twice"
I used Formik form level validation with Yup, but the checkbox or radio button fields from Formik-antd didn't work properly. From debugging, I found that Formik.runValidationSchema was invoked twice when the checkbox was clicked. The first time, the checkbox field in values  had right value, but the second time, it just had past value. Other inputs field worked properly, just invoked the validatio

[2020-01-10 18:18] jannikbuschke commented on #113
There was the same problem with datepicker components recently.
I think validation runs twice because of the calls to setFieldValue and setFieldTouched. Should be easy to fix.

[2020-01-10 18:44] frankchendev commented on #113
Thanks for your quick response

[2020-01-12 11:44] #113 closed

[2020-01-12 13:00] #73 closed

[2020-01-12 13:02] #87 closed

[2020-01-12 13:13] jannikbuschke commented on #105
I decided against implementing this feature in favor of simplicity.

[2020-01-12 13:13] #105 closed

[2020-01-12 13:14] jannikbuschke commented on #32
Implemented in v1.7

[2020-01-16 04:10] mistat44 opened #119 "RangePicker - err: Invalid attempt to destructure non-iterable instance"
Hi I'm planning to use the RangePicker component from antd's website example, but getting this error when I use formik-antd. When I'm using the antd library, this error doesn't occur.

 I'm running `"antd": "^3.26.7"` and `"formik-antd": "^1.8.0"`

[code]

[2020-01-16 09:18] jannikbuschke commented on #119
Can you add the (required) 'name' prop to connect it to a form field?

[2020-01-17 02:51] mistat44 commented on #119
it worked...

[2020-01-17 02:51] #119 closed

[2020-01-20 17:53] fabmont opened #120 "Include the Upload component."
The upload component is quite important for some forms and maybe including this into de component list should be nice.

[2020-01-20 18:11] fabmont commented on #120
Yeah, I'm talking about staging files. The user will select some files and when he hits the submit button, our app should send the binaries to our backend. I think it is possible to implement.

[2020-01-20 18:47] jannikbuschke commented on #120
In the ant design docs https://ant.design/components/upload/ there is an **Upload manually** example, with which it should be rather straight forward to implement this functionality.

Im not sure if the file contents should be put into the formstate itself, or rather just into a component state.

[2020-01-20 23:47] fabmont commented on #120
The upload component provides by Ant has the prop `onChange` which gives to you an object with the currrent file that has been uploaded to the component and the file list which is the amount of files previously uploaded. By the way, it also has a `fileList` prop that you can "store" the files, so the files that will stay into formik's values should be something like this `fileList` prop.

[2020-01-21 13:08] gabrielberlanda commented on #26
Hi @jannikbuschke, I'm having problems without fast field too, at my company we're trying to go prod asap, so I made a fork and implemented a wrapper for Formik Field with a fastMode support...
I'm starting now in open source, if u have time, check my fork implementation and if its ok I can send a PR fixing it.

[Field with fast mode support implementation](https://github.com/gabrielberlanda/formi

[2020-01-21 13:19] jannikbuschke commented on #26
Your approach looks reasonable to me. Feel free to open a PR.

[2020-01-21 18:02] fabmont commented on #120
It's a good point... I'll try this later and see how it works and I'll also try using Formik too to use the differences.

[2020-01-22 18:49] #26 closed

[2020-01-22 19:40] jannikbuschke commented on #26
FastField support is available in v1.9.0-beta.0
 https://github.com/jannikbuschke/formik-antd#fastfield-support

Any feedback is appreciated!

[2020-01-28 12:40] stefanwille opened #123 "Ref support"
Hello!

First late me thank you for this library. I find it very helpful and well built and I am glad that I didn't have to build this code myself!

Now my issue: I have a situation where I would like to get a ref (= `React.RefObject`) to an `Input`'s underlying `input` element, so that I can call `focus()` on it. The original Antd `Input` element supports this via the `ref` prop:

[code]
In formi

[2020-01-28 13:22] jannikbuschke commented on #123
hey, thanks for the compliment.

This is weird, we pass down all props to the underlying component, so I would expect this to work. But it does not, and even typescript complains. I am not sure where the problem is though. Any help in identifying this issue would be greatly appreciated.

[2020-01-28 15:34] stefanwille commented on #123
I think the reason that `ref` is not propagated down is that it is a special prop, like `key`.
`Input` has to use forwardRef itself.

I have built the following component as a workaround.

[2020-01-28 15:34] stefanwille commented on #123
[code]

[2020-01-28 15:35] stefanwille commented on #123
This is mostly a copy of `Input`, with `React.forwardRef` added in.

[2020-01-28 20:23] jannikbuschke commented on #123
This looks good to me (after reading the docs a bit https://reactjs.org/docs/forwarding-refs.html). Feel free to open a PR (or wait for me, Ill probably will implement this soonish).

[2020-01-28 20:30] stefanwille commented on #123
My problem with this was how to set Input.Password on Input after applying React.forwardRef. I have not fix for this yet.

[2020-01-28 21:03] jannikbuschke commented on #123
ok I see what you mean. This combination of static/forwardRefs and typescript does not play super nicely together. Somehow the React.forwardRef type changes the typescript definition, i.e. the static Password and TextArea props are missing.

This comment https://github.com/DefinitelyTyped/DefinitelyTyped/issues/34757#issuecomment-488848720 might provide a reasonable soluton.

[2020-01-28 21:09] jannikbuschke commented on #123
It gets a bit ugly though. I.e. in this example the static Password property is expected, thats why I first cast the Input type to any and then to Props:

[code]

[2020-01-29 18:27] heuristicAL opened #124 "2.0 Validation seems to always give error feedback"
Validation seems to always give error feedback, even though the Formik props don't mention there being an error.
This happens for both my Select and Input controls. Might also happen to all others but I have not tested that yet.

I'm using antd-formik 2.0-beta and antd 4.0.0-rc3

[2020-01-29 19:12] stefanwille commented on #123
Oh, I understand... kind of. I will try that.

[2020-01-31 14:36] stefanwille commented on #123
I have looked at AntD's original source for Input to find out how they have solved the problem, and they use a class component. Would you be open to class components for Input and friends?

[2020-01-31 15:04] jannikbuschke commented on #123
Na, that would make it way uglier in my opinion.

[2020-02-01 13:30] jannikbuschke commented on #123
Ive tried to implement ref support. Can you test v 1.9.0-beta.1 and give feedback?

[2020-02-01 15:04] jannikbuschke commented on #124
Hi @heuristicAL,

Im not sure exactly what you mean. Can you provide an example with the following codesandbox: https://codesandbox.io/s/github/jannikbuschke/formik-antd-example/tree/release/v2.0

[2020-02-02 09:32] stefanwille commented on #123
Very cool!

I have tried it and made a repo here: https://github.com/stefanwille/formik-antd-experiment

I get:

[code]

I think the trick used to set Input.Password causes this.

[2020-02-02 10:53] jannikbuschke commented on #123
There seems to be a typescript issue (and my knowledge of refs are quite limited). However when ignoring this it should work. I.e. I did the following:
[code]

(Note I added an empty dependency array to the useEffect hook, however this does not make any difference). Also your version might already work.

What I noticed is that the Input component does not get focused if the browser window is not a

[2020-02-02 11:17] stefanwille commented on #123
Yes, this works fine 👍

[2020-02-02 11:57] stefanwille commented on #123
Okay, I just saw that Ant Design' `Input` itself doesn't implement proper ref forwarding to the underlying `HtmlInputElement`, it only offers a ref to the `Input` class component instance. And the reason why `focus()` works is that the class component forwards some calls to the underlying `input` ref that is holds privately, for example:

[code]

The actual `this.input` ref is never exposed. So th

[2020-02-02 11:59] stefanwille commented on #123
I have experimented with building a class component, but the typing issue remains weird.

[2020-02-02 12:01] stefanwille commented on #123
[code]

[2020-02-02 12:02] stefanwille commented on #123
Oops, I have closed the issue accidentally.

[2020-02-02 12:04] stefanwille commented on #123
Here the type of the exposed ref attribute is `RefAttributes<Input>` and not `RefAttributes<$Input>` as required to make this work.

[2020-02-03 16:35] heuristicAL commented on #124
Hey @jannikbuschke , thanks for the quick reply! I just updated to `"formik-antd": "2.0.0-beta.1"` as well as `"antd": "4.0.0-rc.3"` and aI am not running into the issue anymore. Seems to have been a freak bug that was already fixed!

[2020-02-03 16:35] #124 closed

[2020-02-05 15:24] chemicalkosek commented on #108
I made an upgrade from antd v3 to v4.  formik-antd to 2.0 beta.
Seems like some styling is not working (maybe labelCol, wrapperCol)?
The styling is ok on components where I still have antd style forms (without formik and formik-antd);

[code]
How it looked before antd v4 and formik-antd v2 beta (good);
![Zaznaczenie_808](https://user-images.githubusercontent.com/11018707/73854787-56804400-4833-11e

[2020-02-06 15:37] heuristicAL opened #125 "`<SubmitButton />` no longer automatically disables when the form is invalid"
When we use a `<SubmitButton />` inside of a `<Formik>` element, the button does not automatically disable itself when there are validation errors or when the form is not dirty.

This can be seen in the [stock formik-antd 2.0 demo](https://codesandbox.io/s/github/jannikbuschke/formik-antd-example/tree/release/v2.0) in file `sample-form.tsx`

[2020-02-07 09:27] jannikbuschke commented on #125
Hi @heuristicAL,

I have seen some issues regarding the "smartness" of this component (at least #87, #73). At some point I tried to improve the api to allow to customize when this component is disabled by providing a `disable` callback prop that exposes formikHelpers. I.e. you then could do something like this:
[code]

Then I thought Im making this too complicated and the mantra of this library is

[2020-02-08 01:15] heuristicAL commented on #125
Hey @jannikbuschke ,

I see where you're coming from, trying to make the library as simple as possible. I applaud that!
That being said, IMHO: the `Submit` and `Reset` buttons should enable and disable automatically (I believe `Reset` still works as it used to and only enables when the form has been edited). My thoughts behind this are that, if you DO want a button that is just always enabled and

[2020-02-08 10:39] jannikbuschke commented on #125
v1.9.0-beta.5 should resolve the issue. Feel free to reopen if otherwise.

[2020-02-08 10:39] #125 closed

[2020-02-08 10:40] jannikbuschke commented on #125
@all-contributors add @heuristicAL for ideas

[2020-02-12 09:59] kissthom opened #127 "<Select> field's validation errors are not shown if field is untouched"
###  The problem
I use Select components with placeholder values in my forms. And in many cases these fields are mandatory.
And normally works everything just fine, but when the user does not touch the select (mandatory field) before hitting submit the validation error for that field will not be shown.

So if I try to use the Select normally, I don't provide an initial value for the field, I hit s

[2020-02-12 17:55] BalintBanyasz commented on #108
I have the same issue as @chemicalkosek with `antd 4.0.0-rc.4` and `formik-antd 2.0.0-beta.1`.
Adding a fixBabelImports section in the config-overrides file (similarly to how @chemicalkosek described it for package.json) fixed it for me.

[2020-02-13 08:10] jannikbuschke commented on #127
Hi @kissthom ,

Thanks for bringing this up and also providing a solution!

The fix should be available in 1.8.1 and 1.9.0-beta.5

[2020-02-13 08:13] jannikbuschke commented on #127
@all-contributors add @kissthom for bug

[2020-02-13 08:28] kissthom commented on #127
Hi @jannikbuschke ,

least one can do in exchange for getting such a useful library :). Thanks for fixing it so quickly! Cheers!
(I guess it's okay if I close this issue now)

[2020-02-13 08:28] #127 closed

[2020-02-14 00:21] Slus commented on #125
@jannikbuschke Would it also be possible to add this to 2.0.0-beta.2?

Thanks!

[2020-02-14 07:37] jannikbuschke commented on #125
Hi @suarez-agu, this should be available in 2.0.0-beta.2.

[2020-02-15 15:44] jannikbuschke opened #129 "Expose generic type argument in TreeSelect"

[2020-02-17 13:09] vjpr opened #130 "Objects are not valid as a React child"
If you leave off the `name` prop from a `<Form.Item />` element you get this error which is confusing.

[2020-02-17 21:30] jannikbuschke commented on #130
I totallly agree, also for the other components the error messages are confusing.
We should probably add proptypes

[2020-02-27 22:07] mdwat90 opened #133 "defaultActiveFirstOption prop not working for Select"
I'm having trouble getting some of the default antd props to work for the Select formik-atnd component.

[2020-02-27 22:11] jannikbuschke commented on #133
hi @mdwat90,

all state is managed via formik, so you would need to pass all default values to formiks `Formik` component via the  `initialValues` prop.

This is not really well documented and also not catched with typescript.

[2020-02-28 10:09] mfactorial opened #134 "Add support to the final Antd 4.0.0"
Currently I can't use the formik-antd with the latest stable release (4.0.0) of Antd. The problem is the following:
[code]

[2020-02-28 12:59] jannikbuschke commented on #134
are you using formik-antd v2 beta?
The mention component was removed in antd v4 / formik-antd v2.

[2020-02-28 21:20] anonrig commented on #134
Is there any timeline for this? We're waiting for formik-antd to upgrade :)

[2020-02-28 21:25] jannikbuschke commented on #134
you can use the v2 beta, it should work with antd v4.0.0.
There are only minors that dont work yet (Mentions component for example).

Else I am working on it this weekend to double check things and give update notes.

[2020-02-28 21:29] anonrig commented on #134
Wow, thank you for the fast response. Working on a friday night. Appreciate your passion! Just a quick question:

How can I install v2 beta? I couldn't find it in the releases

[2020-02-28 21:32] jannikbuschke commented on #134
there are all versions listed: https://www.npmjs.com/package/formik-antd
2.0.0-beta.2 is the latest beta
on github I still need to automate release creation, so not all versions are listed here...

[2020-02-29 17:59] suarez-agu opened #135 "<SubmitButton/> enables even when form is still invalid"
Using
formik-antd 2.0.0-beta.3
formik 2.1.4
antd 4.0.0

When setting values in required fields, the submit button will enable even if there are other required fields without any values in them

You can try it here in the "Sample Form" page.
https://codesandbox.io/s/keen-franklin-wpefu

Fill out first name, the submit button will enable itself although lastname is required

[2020-02-29 18:47] jannikbuschke commented on #135
I think this is by design. The lastname field has not been touched (lets assume it might have been overlooked by the user). In this case the submit button is enabled to allow triggering submit which in my opinion should rerun validation (either client side or server side). Then the user will get feedback whats wrong.
If the Submit button would be disabled, the user would not know what is wrong (as

[2020-03-02 15:22] stefanwille commented on #123
I have tried Input from version 1.9.0 and it works fine for me. Therefore I am closing this issue.

[2020-03-02 15:22] #123 closed

[2020-03-03 13:31] suarez-agu commented on #135
You raise a good point.
I found this stackoverflow question which tackles that question. It seems that the way the <SubmitButton /> was designed is similar to that.

We could leave it as is and I can update the documentation if needed.

[2020-03-04 08:30] #134 closed

[2020-03-04 08:31] #108 closed

[2020-03-04 08:31] #97 closed

[2020-03-04 16:33] ghola commented on #25
I don't think it's an ant design issue. Using any version of ant I can make it work as expected, with label having the proper `for` value. You can also see it working in the ant components page on their website.

The problem seems to lie in the `FormItem` component of the `formik-antd` library which does not pass the `name` property to the wrapped antd `Form.Item`.

https://github.com/jannikbuschk

[2020-03-04 19:18] jannikbuschke commented on #25
@ghola cool thanks for investigating. Will update soon.

[2020-03-10 11:06] thj-dk commented on #103
@jannikbuschke while this fixes the search-issue, it introduces a new error when resetting the form using Formik's `resetForm` method. The field isn't cleared and still display the selected value.

I've tested this with the initial value set to both `undefined`, `null` and `""`.

Any ideas?

[2020-03-10 11:18] jannikbuschke commented on #103
hi @thj-dk , thanks for bringing this up. Will need to investiage.

[2020-03-25 11:16] YassineDM opened #137 "Invalid prop `checked` of type `string` supplied to `Switch`, expected `boolean`"
Importing the Switch component fires this warning in the console:

The implementation is rather straightforward:
[code]
I don't know if it is part of the issue but the `defaultChecked` prop is not taken into account...

By the way, I successfully imported other components such as Checkbox, DatePicker, Input, InputNumber, Radio & SubmitButton.

Relevant packages:
[code]

[2020-03-25 16:48] jannikbuschke commented on #137
Can you remove the defaultCheck prop from the component and instead put a default value into initialValues and see if this resolves your issue?

Default values on ant design components do not work.

[2020-03-25 16:56] YassineDM commented on #137
You're right, it is 'fixed'. And now that you mention it, it seems that default values do not work. Do you know why?

[2020-03-25 17:03] jannikbuschke commented on #137
It is by design, however not well documented.
Formik does all form state management. So values (including initial values), touches, submissions, errors are managed with formik. It does not make sense to put initial values onto ant design components, because formik would not "see" them. It also does not make sense to hook into ant designs defaultValue and set values on formik. Formik already provid

[2020-03-25 17:05] YassineDM commented on #137
Ok this makes sense, thank you for the explanation...

[2020-03-25 17:55] #137 closed

[2020-04-01 08:03] thj-dk commented on #103
Did you get any chance of looking into this yet?

[2020-04-01 20:26] jannikbuschke commented on #103
Should be fixed in v2.0.1. Feel free to reopen if otherwise.

[2020-04-01 20:26] #103 closed

[2020-04-02 08:30] thj-dk commented on #103
Sounds good!
We haven't upgraded antd to v4 yet. What's the easiest way of getting that commit applied for v1?

[2020-04-02 09:35] jannikbuschke commented on #103
The fix to the original issue and the new fix conflict unfortunately and seem to not work with ant d 3. I just tried to apply the changes to v1.9 but I get errors.
For me it is to much of an effort to make it really work for v1.x / antd 3

You can check if
 - Rolling back to formik-antd v1.6.1 or earlier is possible for you
 - Extract the autocomplete field and try a custom solution that works for

[2020-04-07 12:37] thj-dk commented on #103
No worries. We'll prioritize upgrading to antd4 asap. Thank you.

[2020-04-09 01:59] teeyuseng opened #138 "AutoComplete OnChange No overload match this call"
after import AutoComplete component ，will suffer 'No overload match this call'

[2020-04-09 02:58] teeyuseng commented on #138
also can't set AutoComplete .Option

[2020-04-09 08:52] jannikbuschke commented on #138
Hi @teeyuseng,

Can you provide a reproduction with the following codesandbox? https://codesandbox.io/s/damp-darkness-y1q01?file=/src/overview.tsx

[2020-04-09 14:11] teeyuseng commented on #138
Thanks for feedback.
->
I check out  AutoComplete .Option is defined in class AutoComplete not in AutoCompleteProps
after use const {Option} = AutoComplete , will suffered  'Option' does not exist.
I use 'datasource'  to set options to solve my problem

->
about onChange method ,

![problem1](https://user-images.githubusercontent.com/41940914/78904217-c9fe3600-7aae-11ea-9710-59046b7dd9b5.png)
![pr

[2020-04-09 14:14] #138 closed

[2020-04-17 13:00] tiagombrito commented on #21
I know this issue is old, but i'm having the same problem, and i hope this somehow helps.
In your codesandbox demo, if you remove the userName field from the initialValues (make initial values an empty object), the problem will show itself.
Maybe the workaround is just to set the fields to "" in the initialValues.

[2020-04-17 20:14] gromov-io opened #139 "babel-plugin-import - not work"
![image](https://user-images.githubusercontent.com/46241127/79610395-2392e000-8101-11ea-8ac6-a7dd314b5933.png)

[2020-04-20 11:27] braedongough opened #140 "Convert FormItem to compound component to automatically pass name prop"
Would you be open to a PR that converts the `FormItem` to a compound component that automatically passes the `name` prop to its child? It could still, in theory, allow a user to add a different name prop, however, I can't think of a use-case where there would be necessary.

In short, the PR would make it so that the `name` only needs to exist on `FormItem` when it is present.

example:
[code]

cou

[2020-04-20 20:38] jannikbuschke commented on #140
Hi @braedongough , thanks for your suggestion.

Theoretically this approach is valid, however we would need to make the *name* prop on formik-antd components optional, which is not ideal for scenarios without FormItem.

If we would add prop types, maybe it does not matter. Or there are better alternatives, like reexporting the types with a different signature?

Before you start working on this, le

[2020-04-21 06:40] braedongough commented on #140
I thought the same, which is why I wanted to check before opening a PR if it was worth spending the time investigating!

I'm not actually familiar with how Typescript reacts to passing props from compound components, so I'll play around a bit and share my findings.

[2020-04-21 09:28] liuguangsen0409 opened #141 "Failed prop type: Invalid prop `hasFeedback` of type `object` supplied to `FormItem`, expected `boolean`."
I have a question. When I used name with a string like this, `name="obj.xx"`, the console warning me

Failed prop type: Invalid prop `hasFeedback` of type `object` supplied to `FormItem`, expected `boolean`.

Must name be a simple string?
Thank u

[2020-04-21 10:24] jannikbuschke commented on #141
hi @liuguangsen0409,

it should be possible to use strings with dotnotation, maybe your validationerrors are not correct?
can you share some more code or provide a minimal reproduction with codesandbox?

[2020-04-21 10:46] liuguangsen0409 commented on #141
I do not register sandbox, let me show u some code.

[code]

When I click `checkbox`, the console warning Failed prop type: Invalid prop hasFeedback of type object supplied to FormItem, expected boolean.

Thank u again ~

[2020-04-21 10:54] liuguangsen0409 commented on #141
There are 3 warnings and errors
[code]

[2020-04-21 14:57] jannikbuschke commented on #141
You have nested FormItems which probably does not work. remove the one with name="osVersion" and see if it works.

[2020-04-22 18:26] braedongough commented on #140
I'm going to close this issue, I don't haven't been able to come up with a nice solution and likely won't explore it further.

I did, however, find it a bit tricky to test the components. Would you be opposed to a PR introducing storybook to make testing and previewing changes easier?

[2020-04-22 18:26] #140 closed

[2020-04-23 03:07] liuguangsen0409 commented on #141
If I remove the first <FormItem> name, typescript will warning me that name is required.

Now, I change `osVersion.xx` to `osVersion_xx` and change my data structor, it works out.

I also want to ask about this console warning,
Warning: Failed prop type: Invalid prop `hasFeedback` of type `object` supplied to `FormItem`, expected `boolean`,
is it about validation or something else?

Thank u again

[2020-04-25 07:33] jannikbuschke commented on #141
to the first point: you should remove the outer FormItem altogether (not onlay remove the name). FormItems should not be nested. If you want to access nested form values, just use the dotnotation like ```<Form.Item name="nested.value"><Input name="nested.value"/></Form.Item>```. There is just a single `Form.Item`...

To you second point: The warning might happend if there is something wrong with t

[2020-04-25 07:35] jannikbuschke commented on #139
Hi @gromov-io ,

Can you share your setup? Maybe you can compare your config with https://github.com/jannikbuschke/cra-antd-x, where babel plugin should work.

[2020-04-25 07:35] jannikbuschke commented on #107
Closing due to inactivity. If there is still an issue, feel free to reopen.

[2020-04-25 07:35] #107 closed

[2020-04-25 07:44] jannikbuschke commented on #21
Hi @tiagombrito .

Removing a property from initialValues looks suspicious to me. Why would you want to do that?

When the initialValue is missing, i.e. if it is undefined (not that setting it to null would work), then formik seems to not set this field as 'touched', and therefore we don't show it (in default mode only validation errors of touched fields are shown, which makes a lot of sense).

[2020-04-25 08:30] jannikbuschke commented on #63
Hi everyone,

Using this https://github.com/jannikbuschke/cra-antd-x template I get the following build results:

  121.26 KB  build\static\js\2.9c6a56f0.chunk.js
  21.56 KB   build\static\css\2.79dd2953.chunk.css
  775 B      build\static\js\runtime-main.b6d4bee7.js
  741 B      build\static\js\main.1d9fb7ca.chunk.js
  552 B      build\static\css\main.1cde33cd.chunk.css

using following config:

[2020-04-25 08:34] jannikbuschke commented on #139
I just noticed that it didnt yet fully work. I think I fixed it just now. This is the config: https://github.com/jannikbuschke/cra-antd-x/blob/master/config-overrides.js

[2020-04-29 14:13] Valtas opened #142 "How get casted yup values?"
<Formik
initialValues={initialValues}
validationSchema={validationSchema}
onSubmit={(castedValues) => ... }

[2020-04-29 14:14] Valtas commented on #142
<Formik
                initialValues={initialValues}
                validationSchema={validationSchema}
                onSubmit={(castedValues) => ... }

[2020-05-11 18:27] jannikbuschke commented on #142
How would you do it with formik only?
This library is not concerned with yup, and it does not alter the Formik container.

[2020-05-11 18:28] jannikbuschke commented on #139
@gromov-io  can you verify if it now works?

[2020-05-11 18:33] jannikbuschke commented on #25
I think this issue is now solved.
Using
[code]
if the user clicks the label "First Name" the Input will be focused. I assume the html "for" attributes are now properly set. I also assume react testing library now is easier to use in such cases (I used testcafe in another project and it was nice to let the test runner just click the label, and not search for implementation details like attributes o

[2020-05-11 18:35] jannikbuschke commented on #25
In order to reduce specifying the field names a quadrillion times, I am thinking to implement #140 or something along the lines.

[2020-05-11 18:36] jannikbuschke commented on #140
@braedongough sure, Storybook might be a good enhancement. Feel free to open a PR.

[2020-05-11 18:39] jannikbuschke commented on #25
Im thinking about FormItem improvements in the context of #41

[2020-05-11 18:44] jannikbuschke commented on #41
I am thinking about reexporting all core components wrapped in a FormItem.
This removes a lot of boilerplate and nesting.
If the FormItem and core components api does not overlapp drastically, I could spread the FormItem api into the component api. Something like this:
[code]
an alternative would be to move the formItem api into a special prop
[code]
Depending on the name value we could also autom

[2020-05-11 21:32] frankn11 commented on #139
I'm having the same issue with a `.babel.rc` file.
[code]

[2020-05-12 13:43] herbertpimentel commented on #49
As I see this also may be a solution for a problem I am facing with jest. Jest looks to implement they own version of require or something like that. and Wen I am trying you use formik-antd it breaks in tests like so:

[code]

MyComponents.tsx
[code]

[2020-05-13 06:59] jannikbuschke commented on #139
Maybe try "style": "css" and "libraryDirectory":"es" for both imports (like here https://github.com/jannikbuschke/cra-antd-x/blob/master/config-overrides.js)

[2020-05-13 07:00] jannikbuschke commented on #139
Also it would be nice if you can clone the boilerplate (cra-antd-x), verify and report back if it works there. Would be kindly appreciated.

[2020-05-13 21:23] afk-mario opened #143 "DatePicker - RangePicker inconsistent behaviour"
When you use a Date picker the dates are set as a date ISO value, but when using the Range picker the dates are set as moment objects.

[2020-05-14 07:08] jannikbuschke commented on #143
Hi @afk-mario ,

Thanks for bringing this up. I think the problem is on our side and might also be present on the WeekPicker

[2020-05-17 13:08] gromov-io commented on #139
Hi, I apologize for the long reply. Here is my config file and it does not work.

PS this only works if the project antd component is already used somewhere

[code]
Here is an example input displayed correctly, since I already used "input" from antd in other components. And here is "inputNuber and Checkbox" without styles

![image](https://user-images.githubusercontent.com/46241127/82147277-5c84b8

[2020-05-17 13:21] jannikbuschke commented on #139
maybe remove the single **'** in   `"libraryName": "formik-antd'",`?

If that does not work, can you try if it works with config-overrids.js exactly as it is done here: https://github.com/jannikbuschke/cra-antd-x/blob/master/config-overrides.js) (not using a json confi as you are doing).

[2020-05-23 08:25] #142 closed

[2020-05-24 04:52] #25 closed

[2020-05-24 04:55] #21 closed

[2020-05-24 05:01] #133 closed

[2020-05-24 05:03] jannikbuschke commented on #141
@liuguangsen0409 has your issue been resolved?

[2020-05-24 19:31] jannikbuschke commented on #41
I publish a v2.1 beta version that exports form-item wrapper components for each core component: https://github.com/jannikbuschke/formik-antd/tree/beta/2.1#combined-formitem-and-input-components

use `import { Input } from 'formik-antd/es/form-items'` instead of the normal imports.

[2020-05-25 10:20] tiagombrito commented on #21
Hello again @jannikbuschke

I agree with what you said. My message was just to let people know that if they are having this issue, they need to add the initial variable as null (altho i remember having some value that was not working, i think it was an empty array, but changing it to a null worked).
Also, i'm just taking a guess, but i think this behaviour may be coming from formik and not with fo

[2020-05-25 20:53] iamvanja commented on #41
That seems like a reasonable path. Thanks so much!

[2020-05-27 08:46] yoruvo opened #144 "Run a function over errors in Form.Item / validationSchema? (Yup, i18next)"
Hi,

my setup for forms is:

* formik and formik-antd for the form creation
* Yup for validation
* react-i18next for localization

This setup works quite well for labels, placeholders etc. but I'm struggling with errors.

If I design my validation schema for Formik like so:

[code]

then the validation is translated correctly, but the translation does not change when switching languages in i18next

[2020-05-27 12:33] yoruvo opened #145 "FormikDebug component forced to only render in development mode"
It would be nice to optionally be possible to tell the FormikDebug component to render in production mode anyway.

[2020-05-27 15:18] jannikbuschke commented on #144
You might be able to place the schema and the calls to the `t` function inside a component. To reintantiate the schema on every render you probabaly want to wrap it in a `React.useMemo` call.
The memo need to be re-evaluated on every language change. I guess the react-i18next exposes somewhere the current language value in a hook. This value you would need to pass to the memo as a dependency.

So

[2020-05-27 18:00] yoruvo opened #146 "SubmitButton is enabled despite failing validation so long as it's on initial values"
Possible values in form:

[code]

Initial values:
[code]

Validation schema:
[code]

As you can see, all the fields are required, but many are empty.

Yet, at the start of the form, and whenever you reset to the "initial values" (Version at 1.10.0, Topic at "error", rest empty), the Submit Button is enabled despite not passing validation.

[2020-05-27 18:16] jannikbuschke commented on #146
This is by design (https://github.com/jannikbuschke/formik-antd#submitting-and-resetting-forms).

If the button would be disabled, the user might not see any validation feedback, as it is usually only rendered if the corresponding field has been touched. By enabling the submit button and clicking it, all fields will be touched, thus rendering the feedback if the form is invalid. You might want to

[2020-05-31 12:40] jannikbuschke opened #147 "SubmitButton should be enabled as long as formik.submitCount === 0"

[2020-06-15 15:36] viters commented on #41
I think the current `FormItem` also slows down large forms a lot. It lacks 'fast' behavior.

[2020-06-17 13:38] thomasfaller opened #148 "Can't seem to render <FormItem > as a children of <FieldArray />"
Hey guys,
I'm experiencing some issues using Formik alongside Ant Design. I'm using `formik-antd` package to make that easier and I'm just stumbling on getting what I want from the `<FieldArray />` component.

I'd like to leverage the Ant-Design components, using `<FormItem>` alongside `<Input>` to get proper labelling of my fields.

The problem is that I can't seem to invoke/use <FormItem> inside

[2020-06-17 16:34] jannikbuschke commented on #148
Can you use the FormItem (or Form.Item) component from formik-and and pass in the same name prop. I.e.
[code]

[2020-06-22 16:34] marcobiedermann opened #149 "Update antd from 4.3.4 to 4.3.5"
### Description

When updating Ant-Design from version `4.3.4` to `4.3.5` types are no longer matching

---

### Log

[code]

---

### Changelog

* Rewrite Input.Password with hooks. [#25012](https://github.com/ant-design/ant-design/pull/25012) [@Rustin-Liu](https://github.com/Rustin-Liu)

https://github.com/ant-design/ant-design/blob/master/CHANGELOG.en-US.md#435

[2020-06-22 22:25] C-Higgins commented on #25
It should not require setting htmlFor. Standard AntD works with just a FormItem having a name. This package just needs to pass the name field onto the FormItem as @ghola said.

[2020-06-29 11:01] ryall commented on #144
I agree this would be useful and the solution suggested isn't possible in my case because my validation schema does not return translated messages but rather an object to generate the translated message. I do this because my API needs to be language agnostic, and some form errors are generated there.

I'll look at submitting a PR.

[2020-07-06 11:25] jannikbuschke commented on #149
Hi @marcobiedermann,
the packaged version of this lib does not include ant design types directly. Ant D is only a peer dependency, so the consuming app packages decides what version of ant design is used. If your typescript compilation thinks there are some TS errors within this library, I think you could/should TS tell to ignore these.

[2020-07-07 02:56] karlshea opened #151 "DatePicker not respecting format strings"
It looks like the format string in DatePicker isn't respected when setting form values. I have a picker for a date-only field (passing YYYY-MM-DD into initial form values, and expecting one back), but the value in the submit handler is a full ISO string. This is leading to timezone issues where there shouldn't be any tz information at all.

It also can't be solved with an onChange for the field, b

[2020-07-08 10:41] jannikbuschke commented on #151
Good old time issues :)

Mh, I'm not so sure about your solution. I probably need some time to think about the problem and the solution. Also ant d now supports other datetime libraries (like dayjs), something that maybe should also be considered.

Wouldnt it make sense for you to adjust your datestring before giving it to formik? So internally the component handles a "iso" date, maybe as a UTC+0

[2020-07-08 17:23] karlshea commented on #151
Isn't that what this is doing? The `onChange` handler here is the only place to access the antd component's moment instance before it gets passed to formik.

It would definitely be better if internally the component used a UTC date, because that would make it easier to do tz adjustments afterwards (maybe?), but it seems like either way there should be a better way to manipulate the date before it

[2020-07-09 03:42] dbousamra commented on #55
I have this issue too.

[2020-07-09 03:44] dbousamra commented on #54
I also have this issue.

[2020-07-09 11:02] jannikbuschke commented on #55
duplicat: https://github.com/jannikbuschke/formik-antd/issues/54

[2020-07-09 11:02] #55 closed

[2020-08-07 11:04] faizankhan1995 opened #154 "DatePicker Not Working"
I am using below code to set value of Date, but submit button doesnot gets enabled even after the date is selected.
<FormItem name="RoutePermitExpiryDate" label="Route Permit Expiry Date" required={true}>
              <DatePicker name='RoutePermitExpiryDate' />
</FormItem>

I am using yup for validation. RoutePermitExpiry: yup.date().required(),

[2020-08-26 16:42] Vincz opened #156 "Display field error on submit even if it has not been touched"
At this line : https://github.com/jannikbuschke/formik-antd/blob/df712fff91bfd3e21ef1f8eb8d7397cbae2da0e1/src/form-item/index.tsx#L30 there is a check to verify if an error must be displayed or not for a given field.

It ensures that the field has been touched before displaying the error.
I think it should also check if the form has been submitted or not as it is quite weird to have no error displ

[2020-08-28 17:37] yhrchan opened #157 "Issues with input validation css styling when used within Ant Design Pro"
Hi,

I've been using Ant Design Pro following the getting started steps in https://pro.ant.design/docs/getting-started along with Formik and formik-antd. Testing this in the simplest case with a formik-antd input with schema validation using Yup. It doesn't seem to style the validation errors properly (I've attached a screenshot where the validation error message is just black text with no red col

[2020-09-03 05:36] tobiasriemenschneider commented on #50
If a field is defined as being required within the YUP validation schema, this shows up in the validation schema object like this:

[code]
So I created a helper function that checks for this and conditionally returns `true`, if the field was defined to be `required`.

[code]

Now I can pass this function into the `required` prop of the `<Field.Item>`, passing in the `name` of the respective field.

[2020-09-05 16:25] Arshazar opened #158 "Error while selecting date in DatePicker"
[code]

**

**

[2020-09-06 20:27] Arshazar commented on #158
Using **setFieldValue** instead of handleChange function solved the issue!

[code]

[2020-09-06 20:27] #158 closed

[2020-09-09 19:21] jannikbuschke commented on #156
Hi @Vincz , I think Formik automatically touches all fields on submit. So I am not sure if I understand the issue you are facing.

[2020-09-09 19:33] jannikbuschke commented on #154
Hi @faizankhan1995 , can you share a minimal reproduction?

[2020-09-09 19:38] jannikbuschke commented on #157
hi @yhrchan, sorry Im not able to help on this as I am not using ant design pro. Maybe someone else can assist here.

[2020-09-09 20:11] faizankhan1995 commented on #154
`import React from "react";
import { Form, FormItem, SubmitButton, DatePicker } from "formik-antd";
import * as yup from "yup";
import { Formik } from "formik";
import "./styles.css";

export default function App() {
  const validationSchema = yup.object({
    LisenceIssueDate: yup.date().required(),
    LisenceExpiryDate: yup.date().required()
  });

  return (
    <Formik
      initialValues={{}

[2020-09-09 20:13] faizankhan1995 commented on #154
[code]

Can you make it work ?

[2020-09-09 20:37] yhrchan commented on #157
Thanks @jannikbuschke anyways. In case anyone runs into the same problem, I was able to resolve it by importing the following. Not sure the underlying reason, but it works.

import ProTable from '@ant-design/pro-table';

[2020-09-09 20:38] #157 closed

[2020-09-13 14:59] watafakap opened #159 "When using DatePicker and useField: TypeError: target is undefined"
I use 'formik-antd' and using this code with Form:
[code]
Before that I used other components in the same way and they worked. Is there a fix for the problem?

[2020-09-14 09:56] jannikbuschke commented on #159
In this line `<AntDatePicker {...field} {...props} />` you are basically reimplementing `formik-antd`. The idea of `formik-antd` is that you dont need to hook up formik and antd by yourself. So the correct usage of `AntDatePicker` (from formik-antd) is to just pass in the **name** prop and add some styling. But do not profide **onChange** and **value** props.

[2020-09-15 08:21] Vincz commented on #156
Hey @jannikbuschke ! Thanks for replying.
Indeed, you are right. The problem occurs when the field is not properly initialised with an initial value. (ie. Not set in Formik `initialValues` prop). So It's not a problem related to your lib ! Sorry !

[2020-09-15 08:21] #156 closed

[2020-09-15 09:07] jannikbuschke commented on #156
Y, I would suggest to always initialise formik values (null is possible I think).

[2020-09-15 21:38] faizankhan1995 commented on #154
@jannikbuschke  any update on this ?

[2020-09-21 11:58] #154 closed

[2020-09-25 12:06] jordn commented on #54
also have this issue. haven't investigated

[2020-10-14 22:56] devony opened #160 "Cannot add children to Checkbox.Group"
I'd like to add children to customize my checkbox layout as in the "Use with Grid" section on https://ant.design/components/checkbox/

Using Checkbox by itself with the same name doesn't work as all checkboxes resolve `checked` to truthy if the array exists.

[2020-10-27 22:03] thibaut-singlefile opened #161 "Pass the FormItem name onto the Formik FormItem to enable label accessibility"
Html Label (in testing contexts) should not require setting htmlFor. Standard AntD works with just a FormItem having a name. This package just needs to pass the name field onto the FormItem.

This also has an impact when using [fake filler](https://chrome.google.com/webstore/detail/fake-filler/bnjjngeaknajbdcgpfkgnonkmififhfo?hl=en) to fill forms with fake data because the chrome extension no long

[2020-10-30 16:38] jannikbuschke commented on #160
hi @devony , Im not sure exactly what you are doing. Can you share some code? Im also not sure if Checkbox.Group is suppored (I dont think so)

[2020-11-02 03:46] rigorio opened #162 "Setting an Input value renders Input as uneditable"
I can't really paste my code here for legality reasons, but it's basically the same as the provided example in the wiki.

[code]

Except that my input has a value. The value comes from a set constant in a useEffect that has a props as a dependency.

So now basically the problem I have is if I set a value to the Input, I simply cannot edit the text in the Input.

[2020-11-02 03:54] rigorio commented on #162
Just a bit more explanation. So what I'm basically trying to achieve is I'm editing an entity. So I'm setting the selected entity's values to the formik-antd inputs to edit the values. But again the problem is that I cannot edit the Inputs once their values are set.

[2020-11-02 04:03] rigorio commented on #162
Working solution:
[code]

So I need to do it manually via React Hooks. I think this is a bit too cumbersome especially if you have a lot of Inputs. Editing an `Input` that has a set `value` should be made possible.

[2020-11-02 07:06] rigorio opened #163 "Submit only gets values of inputs that had events"
This is somewhat related to my [other issue.](https://github.com/jannikbuschke/formik-antd/issues/162)

Basically, if I have an input with a predefined value and then submit that form, the value is not retrieved. _Only until I press a key on that input._

[2020-11-11 05:23] SnarkieDesign opened #164 "Typescript: Slider props import no longer working with Ant Design 4.8.1"
Since updating Ant Design to 4.8.1, the formik-antd Select component causes Typescript errors.

I believe the issue lies in line 6 of [slider/index.tsx](https://github.com/jannikbuschke/formik-antd/blob/master/src/slider/index.tsx):
`import { SliderProps as $SliderProps } from 'antd/lib/slider'`

Ant Design have split the props interfaces into **SliderSingleProps and SliderRangeProps**. [This is t

[2020-11-17 01:45] linchen2chris opened #165 "select multiple validation errors not shown"
I have a field which is an array, with initial value [], I will validate it by `Yup.array().required('required')`, but its touched is false when submit, and validation error can not shown.

[2020-11-17 13:40] linchen2chris commented on #165
fix this and create a PR for this, waiting for merge https://github.com/jannikbuschke/formik-antd/pull/166

[2020-11-24 01:05] linchen2chris commented on #165
will close after PR merged

[2020-12-13 22:38] thibaut-singlefile commented on #161
#153 got merged in! 🎉
Closing this ticket.

[2020-12-13 22:38] #161 closed

[2020-12-15 08:40] jannikbuschke commented on #164
Hi @SnarkieDesign , thanks for bringin this up.

v 2.1.0-beta.1 should solve this issue. If not pls reopen.

[2020-12-15 08:40] #164 closed

[2020-12-15 08:43] jannikbuschke commented on #162
Hi @rigorio , you should set initial values via the Formik container.

Setting the value prop of any formik-antd component is not recommended. This library does exactly handle this for you, so that formik and ant design are synced without having the developer explicitly set the value and handle the onChanges...

[2020-12-15 08:43] #162 closed

[2020-12-15 23:52] rigorio commented on #162
Hi @jannikbuschke. Can the initial values be dynamic?

[2020-12-18 01:08] damonsmith commented on #151
To me it looks like the antd datepicker returns both the date object and the formatted string, but formik-antd takes only the date object, does an toISOString() on it and then always returns that as the value, but that introduces a whole bunch of time and timezone related issues that I would have to solve by parsing and re-formatting the date object.

I'm thinking it would be an option to add a pr

[2020-12-18 20:41] karlshea commented on #151
In the meantime I've moved away from Antd, so I'm not invested in the outcome of this issue. It can be closed if no one else is running into this problem.

[2020-12-27 22:57] Frank5000 commented on #120
@fabmont were you able to get it working?

[2020-12-28 16:53] jannikbuschke commented on #120
@Frank5000 I implemented an UploadFile component in my (undocumented, not yet releasable) glow library: https://github.com/jannikbuschke/glow/blob/master/core/web/src/files/upload-files.tsx#L31
There I use ant designs upload component to upload files to my backend. On successfull uploads I reference these already uploaded files in my local formik form. So when I send the form, I only reference alr

[2021-01-06 15:14] FelipeChibey opened #174 "Problem with Datepicker and TimePicker styles"
When I use 'formik-antd' TimePicker and DatePicker like this:

[code]
I am getting this components with broken css style and if I click them, do not work:
![Screenshot from 2021-01-06 12-03-27](https://user-images.githubusercontent.com/19830830/103783460-845ba300-5017-11eb-99f3-bb16d58a528f.png)

This happens only with this two components, and if I import from 'antd' they work correctly.

[2021-01-07 06:43] damonsmith commented on #151
I've raised a PR for this: https://github.com/jannikbuschke/formik-antd/pull/175

[2021-01-27 13:48] alisaMedved opened #176 "useFormik formik.errors is empty object"
I use formik and formik-antd

expected: formik.errors will contain field errors
result: When I use useFormik  formik.errors = {}

This code work and  formik.errors contain field errors

`import React, {useEffect, useState} from 'react';
import {Spin, Typography} from "antd";
import styles from "./SettingPage.module.scss"
import {Form, FormItem, Input, SubmitButton, ResetButton} from "formik-antd";

[2021-01-31 16:26] JoFont opened #177 "Memory leak using Select"
Using any combination of the Select field from "formik-ant" results in a memory leak of some sorts. The select dropdown never opens and the app crashes. Using the SelectInput directly from Ant Design outside of a FormItem works fine but defeats the purpose of using this library.

[code]

Notes:
- I'm using React concurrent mode.
- Setting options declaratively produces the same error.
- After some

[2021-02-01 11:49] mikedotJS opened #178 "Is this package really not supposed to support React 17+ ?"
Hey,

Sorry if this is not the place to ask this.

React 17 is months old now and this very useful package indicates that it has a peer dependency on React ">= 16.8.0 < 17".

Is React 17 really not supported yet? If not, will it be in the near future?

I'm really considering to use `formik-antd` for a real-world app but i absolutely need to know if the future versions of React will be compatible w

[2021-02-01 20:05] jannikbuschke commented on #178
Hi @mikedotJS,
I am not entirely sure if ant design works with react 17 yet: https://github.com/ant-design/ant-design/issues/26136

But this library will most likely work with react 17. If not I will work on it.

[2021-02-01 21:13] JoFont commented on #177
Follow up on this issue: downgrading Ant Design version to **4.1.0** from **4.11.2**  seemd to work.

[2021-02-02 15:23] mikedotJS commented on #139
Hey,

Any news on this one? I'm having the same problem and i tried the suggested solutions above.

Current `.babelrc` :
[code]

On a Next.js app.

When i only use `antd` the warning is gone, it appears as soon as i use `formik-antd`.

I tried to import components as `import Input from 'formik-antd/lib/input'` but it doesn't work either.

[2021-02-03 20:32] Tenkir opened #179 "Cannot pass layout prop to Form"
`layout` does not seem to be a valid prop on the `Form` component of this library. Checking the source, it seems like it should pass properly.

TS Error:
[code]

[AntD Source Ref](https://github.com/ant-design/ant-design/blob/f6683ebfc30bf3c04fdcd02e1a06ef9e3c6b679f/components/form/Form.tsx#L22)

[2021-02-03 20:33] #179 closed

[2021-02-03 20:34] Tenkir commented on #179
Please Delete

[2021-02-03 22:25] jannikbuschke commented on #139
maybe try with "style":"css" and "libraryDirectory":"es"

https://github.com/jannikbuschke/formik-antd#advanced-setup

[2021-02-08 10:48] rafalluksza commented on #178
We're using it with React 17 and everything works fine!

[2021-02-24 11:06] MaruniakS commented on #165
I faced up with the same issue. Sometimes error is shown, but it hides after submitting form
`Yup.array().of(Yup.string()).min(1, 'Error text')`

[2021-02-25 00:56] linchen2chris commented on #165
@MaruniakS actually the error is there, but array field has some problem with `touched`, it will hide the error

[2021-03-02 23:33] jasan-s opened #181 "Using Radio.Group not rendering radio button text"

[2021-03-15 12:24] vprsendictx commented on #165
@MaruniakS yeap, instead of setting touched to `true` for multi-select, it sets touched to an empty array on form submit validation.

[2021-04-12 07:57] chemicalkosek opened #182 "TextArea is not working with antd 4.15.1"
Can't write within TextArea when upgrading to antd 4.15.1
Reverting to 4.15 makes it work
Currently not sure if it's an issue on `antd` side or `formik-antd`.

Here's the change they made to TextArea in 4.15.1:
https://github.com/ant-design/ant-design/pull/30070/commits/39aa2fb8618825958ebbb5edaece0f90ee8d51db

Reproduction:
https://codesandbox.io/s/compassionate-dirac-tlgjn?file=/src/App.js

[2021-04-13 10:33] chemicalkosek commented on #182
I'm closing as it looks like there's a fix ready to be released.
https://github.com/ant-design/ant-design/pull/30124

[2021-04-13 10:33] #182 closed

[2021-04-15 04:08] jasyes opened #183 "Input.TextArea not working"
I've just updated to Antd 4.15.1 and formik-antd Input.TextArea stop working.
When typing into textarea, the warning message display in console:

[code]

Formik state not updating.

PS. On version 4.14.1 textArea working properly.

[2021-04-15 09:42] jannikbuschke commented on #183
probably duplicate of https://github.com/jannikbuschke/formik-antd/issues/182

[2021-04-15 09:42] #183 closed

[2021-04-18 12:35] Chameleon45 opened #184 "Input.TextArea doesn't work"
I have textarea in my form:
`<Form.Item name="selfDescription">
<Input.TextArea name="selfDescription" rows={4} showCount maxLength={500}  />
</Form.Item>`
and I actually can't enter any key in it. Also I receive this warning in console on each key entering in textarea:
![image](https://user-images.githubusercontent.com/50486434/115145331-b094b000-a059-11eb-8d63-96eaeb1e2e07.png)
Adding `onChange=

[2021-04-18 13:20] jannikbuschke commented on #184
Probably a duplicate of https://github.com/jannikbuschke/formik-antd/issues/182

[2021-04-18 13:27] #184 closed

[2021-04-18 18:17] Chameleon45 opened #185 "Errors of select items don't show on submit"
My form contains one multiselect and group of selects generated by FieldArray from formik module:
[code]
For validation I'm using Yup schema:
[code]
Validation works okay when fields are touched but doesn't work on form submit for current selects. Even more, the errors that were placed after touching just disappear. Also I can't figure out how to display errors for FieldArray. I tried to use Form.

[2021-04-22 21:42] ChillyBots opened #186 "Refs revisted!"
Hey guys, thanks for the great bindings... I was really starting to miss formik ;-)

So I've noticed there was a bit of refs discussion about a year ago:
https://github.com/jannikbuschke/formik-antd/issues/123

and it seems like the inputs got some special ref love, but the select didnt - any chance of adding ref support to all components?

[2021-04-23 12:02] skykingit opened #187 "DatePicker format error without keepOffset"
When i use the datetime ,i found the value is not the current local time
so i see your github code ,i found you transfer date to ISOString by toISOString function,
but i can set the props "keepOffset" to prevent the transfer
when i set keepOffset true,it did't work
so i see you node_modules source code ,you just delete the props "keepOffset"
i am so angry, your code is different between github and

[2021-04-25 14:36] paulonteri commented on #54
I managed to solve this problem by adding the name prop to the `Form.Item` & `Select`

[code]

[2021-04-27 08:40] jamov commented on #178
Would it be possible to update the peer dependencies since the package seems to be working with React 17?

[2021-04-28 11:06] #185 closed

[2021-05-01 19:30] maglini commented on #32
RemoveRowButton doesn't work correctly.  It removes the previous row instead of the current. How to fix it?

[2021-05-02 11:45] jannikbuschke commented on #32
in this example it seems to work, can you give me a reproduction?
https://codesandbox.io/s/github/jannikbuschke/formik-antd-example?file=/src/index.tsx

[2021-06-10 22:03] #174 closed

[2021-07-28 13:51] jannikbuschke commented on #178
@jamov v2.1.0-beta.4 should solve this problem

[2021-08-06 01:58] kanjurer opened #188 "Is there a file upload functionality in the library?"
Just wanted to know if file upload functionality combined with formik is added or not!

[2021-08-06 01:59] #188 closed

[2021-08-06 01:59] kanjurer commented on #188
I saw the other open issue, so closing this one

[2021-08-09 09:07] honzahruby opened #189 "New release"
Hi @jannikbuschke, there have been many changes to this package since the latest release. Will there be a new officially published version?

[2021-08-09 09:12] jannikbuschke commented on #189
yes, I wanted to release a long time ago... Recently I started to use the beta 2.1 packages in a production app, so a new release can be expected soon.

[2021-08-09 09:15] honzahruby commented on #189
Great news, thank you!

[2021-08-09 09:15] #189 closed

[2021-08-09 11:28] knownamenow opened #190 "how formik-antd work with useFormik"
how formik-antd work with useFormik , who has example to use formik-antd work with useFormik  or guideline me ,thank for answer 👀

[2021-08-24 08:59] Frostbourn commented on #120
Hi, any news on that feature?

[2021-08-28 18:12] #190 closed

[2021-09-08 16:10] illusi03 opened #191 "Table Component has lagging (Field in table has not FastField Component)"
Iam got a problem with Dynamic Table Component that has lagging, i found the solution that change the Field into FastField component. How about add new props in Table Component (like other, example Input that has fast props) ?

[2021-09-08 16:24] illusi03 commented on #191
For fixing this issue, can someone pull req for the new version ?

![image](https://user-images.githubusercontent.com/52351532/132547406-c5533900-9477-4a70-b844-03dc220d8561.png)

I can't pull req, because got error 403 (Unauthorzied).
Thanks in advice

[2021-11-15 19:09] shaaandi opened #192 "Missing TimePicker.RangePicker"
Missing component: `TimePicker.RangePicker`
Link: https://ant.design/components/time-picker/#RangePicker

[2021-11-28 09:10] vibegame opened #193 "Form.Item doesn't show error for array validation onSubmit"
Hello everyone! ✋

I'm using `validationSchema` for `Formik` component and using `Form.Item` to display validation errors.

**Code:**
[code]

**How to reproduce**
Copy and paste the code above. Run the project and click on button `Submit`.

**Actual Result**
Error is not displayed

**Expected Result**
The error is displayed under `Select`: "items field must have at least 1 items"

**Description**

[2021-11-30 09:36] shaaandi opened #195 "Version 2.0.2 - Initial values not working."
Initial values are not working on the form.

I will add the reproducible link later today.

[2021-12-02 06:54] linchen2chris commented on #165
https://github.com/jannikbuschke/formik-antd/pull/166 fixed it

[2021-12-02 06:54] #165 closed

[2021-12-03 18:09] Vincz commented on #195
I can confirm. Same problem here on a bunch of projects.

[2021-12-07 14:48] aga7d opened #197 "React 17 not allowed as peer dependency"
I would like to use React 17 in my project but I am getting error that formik-antd requires react version < 17.
Is this package compatible with newest react?

[2021-12-07 19:08] jannikbuschke commented on #181
Please provide some code to reproduce the problem

[2021-12-07 19:08] #181 closed

[2021-12-07 19:08] jannikbuschke commented on #178
also fixed in 2.0.3

[2021-12-07 19:08] #178 closed

[2021-12-07 19:09] jannikbuschke commented on #197
this is now fixed in v2.0.3

[2021-12-07 19:09] #197 closed

[2021-12-07 19:09] jannikbuschke commented on #195
fixed in v2.0.3

[2021-12-07 19:09] #195 closed

[2021-12-07 19:10] #32 closed

[2021-12-07 19:11] #54 closed

[2022-02-23 09:06] sirkeng commented on #193
I also have this problem

[2022-04-16 11:50] ThinhNguyenHoang opened #200 "Form Input looses focus upon values validity change"
Hello,
For some reason the form input loses focus when the field validity change (from Invalid to invalid and vice versa) . I don't know if this is the default behavior but it feels annoying as a user (require additional mouse click to re-enter the form) .

Code:
`
import { Button,  Space } from 'antd';
import React from 'react';
import * as Yup from 'yup'
import { Formik } from 'formik';
import {

[2022-04-26 23:58] elghst commented on #200
Sup! Check your chrome console for a warning that starts like this:
`Warning: [antd: Input] When Input is focused, dynamic add or remove prefix / suffix will make it lose focus caused by dom structure change...`
If so, the link in the message basically tells you to set default prefix/suffix (the element antd uses to render input validation) to your Input. I just left it blank, the problem is gone

[2022-06-21 11:43] andrii-muntian-p24 commented on #200
Hello! Have similar issue here, but do not see any warning message like mentioned above by @elghst.
I think i might find reason for that. It is reproducible on latest for today `antd@4.21.3` version but not reproduced on 4.1.0 which is set as dependency here in `formik-antd` [codesandbox example](https://codesandbox.io/s/github/jannikbuschke/formik-antd-example?file=/package.json).
It seems input

[2022-06-22 09:18] lscheibel commented on #200
@andrii-muntian-p24 This is an [issue with antd](https://github.com/ant-design/ant-design/issues/36180) but in your case adding hasFeedback={false} to the FormItem or adding showCount to the TextArea should fix the issue.

[2022-08-17 17:53] RikeshThapa commented on #177
2022 update: I managed to resolve this by updating formik-antd and antd to their latest versions (2.0.4 and 4.22.6 respectively).
Furthermore you need to check which version of React you are running. Some changes were made to React-DOM in React 18.1 that may cause some incompatibilities between React <> Formik-antd <> antd .

I first tried to downgrade antd, but this causes issues with React 18.

[2022-11-27 10:36] YassineDM opened #204 "Support for Ant Design 5"
Hi there, just wondering whether you were considering support for Ant Design 5…

[2022-11-29 08:53] amirshahamiri commented on #204
Hi i have updated to Ant Design 5 and having problem with formik-antd. Would you please add support for ant design 5?

[2022-11-29 08:57] imamaad commented on #204
Hello guys thank you for supporting formik antd.
I have a project that that written with Ant Design 4 and I really want to updated it ti Ant 5 but I see some people have problem with updated version
When can I update to Ant Design 5 ?

[2022-11-29 12:17] jannikbuschke commented on #204
It probably is relatively easy to support antd5, I,m a bit overloaded with work though... Ill try to look into it this week

[2022-11-29 12:21] jannikbuschke commented on #204
Or feel free to open a PR